In [9]:
import sys
sys.path.append('/home/samer/projects/fuzzy_sql/src') #This will enable reading the modules
from pathlib import Path
import os
import json

from fuzzy_sql.rnd_query import RND_QUERY
from fuzzy_sql.fuzzy_sql import *

In [10]:
#set directories
root_dir=Path('/home/samer/projects/fuzzy_sql')
metadata_dir=os.path.join(root_dir,'data/sdgd/processed/metadata')
db_path=os.path.join(root_dir,'db/sdgd.db')

In [11]:
#define input tables and metadata

tbl_names_lst=["C1"]

metadata_lst=[]
for tbl_name in tbl_names_lst:
    with open(os.path.join(metadata_dir,tbl_name+'.json'),'r') as f:
        metadata_lst.append(json.load(f))

In [12]:
#setup parameters
DFLT_PARAMS={
    'AGG_OPS':{'AVG':0.5, 'SUM':0.3, 'MAX':0.1, 'MIN':0.1 },
    'LOGIC_OPS':{'AND':0.9,'OR':0.1},
    'NOT_STATE':{'0':0.8, '1':0.2},
    'CAT_OPS':{'=':0.25, '<>':0.25, 'LIKE':0.15, 'IN':0.15, 'NOT LIKE':0.1, 'NOT IN':0.1},
    'CNT_OPS':{'=':0.2, '>':0.1, '<':0.1, '>=':0.1, '<=':0.1, '<>':0.1, 'BETWEEN':0.2, 'NOT BETWEEN':0.1},
    'DT_OPS':{'=':0.2, '>':0.1, '<':0.1, '>=':0, '<=':0, '<>':0.1, 'BETWEEN':0.2, 'IN':0.1, 'NOT BETWEEN':0.1, 'NOT IN':0.1},
    'LESS_GRP_VARS': False, # enforce bias in random queries toward smaller number of groupby vars. Default is no bias (i.e. uniform sampling)
    'LESS_CMP_VARS':False, # enforce bias in random queries toward small number of  comparison terms. Default is no bias (i.e. uniform sampling)
    'JOIN_CNDTN':{'WHERE':0.5, 'AND':0.5} #Use WHERE or AND with JOIN CLAUSE
}

#connect to db
conn = sqlite3.connect(db_path)

self=RND_QUERY(conn, tbl_names_lst, metadata_lst,DFLT_PARAMS)

smk2

In [13]:
# Generate Random  queries 



#rnd_query=self.make_single_agg_query()

syn_tbl_name_lst=['C1_syn_default_1']
rnd_query=self.make_twin_agg_query(syn_tbl_name_lst)

In [14]:
rnd_query

{'query_real':           education age                race native_country         workclass  \
 0              10th  17  Amer-Indian-Eskimo  United-States           Private
 1              10th  17  Amer-Indian-Eskimo  United-States           Private
 2              10th  17               Black        England                 ?
 3              10th  17               Black  United-States                 ?
 4              10th  17               Black  United-States                 ?
 ...             ...  ..                 ...            ...               ...
 48605  Some-college  90               Black  United-States           Private
 48606  Some-college  90               White    Puerto-Rico           Private
 48607  Some-college  90               White  United-States           Private
 48608  Some-college  90               White  United-States           Private
 48609  Some-college  90               White  United-States  Self-emp-not-inc

       income         occupation  fnlwgt  COUNT(*)
 0      <=50K  Handlers-cleaners  144752         1
 1      <=50K      Other-service  130125         1
 2      <=50K                  ?  159771         1
 3      <=50K                  ?  172145         1
 4      <=50K                  ?  341395         1
 ...      ...                ...     ...       ...
 48605  <=50K              Sales  139660         1
 48606  <=50K       Adm-clerical  171956         1
 48607  <=50K       Adm-clerical  347074         1
 48608  <=50K      Other-service  272752         1
 48609  <=50K    Farming-fishing  282095         1

 [48610 rows x 9 columns],
 'query_syn':           education age                race   native_country workclass income  \
 0              10th  20               Black           Mexico         ?  <=50K
 1              10th  20               White    United-States         ?  <=50K
 2              10th  21  Asian-Pac-Islander    United-States         ?  <=50K
 3              10th  21               Black    United-States         ?  <=50K
 4              10th  21               Black    United-States         ?  <=50K
 ...             ...  ..                 ...              ...       ...    ...
 48765  Some-college  90               White      Puerto-Rico   Private  <=50K
 48766  Some-college  90               White  Trinadad&Tobago   Private  <=50K
 48767  Some-college  90               White    United-States   Private  <=50K
 48768  Some-college  90               White    United-States   Private  <=50K
 48769  Some-college  90               White    United-States   Private   >50K

            occupation  fnlwgt  COUNT(*)
 0                   ?  199143         1
 1                   ?  203523         1
 2                   ?  172709         1
 3                   ?  135645         1
 4                   ?  274502         1
 ...               ...     ...       ...
 48765    Adm-clerical  159449         1
 48766    Adm-clerical   67874         1
 48767  Prof-specialty  155781         1
 48768           Sales  205949         1
 48769           Sales  157043         1

 [48770 rows x 9 columns],
 'query_desc': {'type': 'twin_agg',
  'agg_fntn': 'None',
  'grpby_vars': ['education',
   'age',
   'race',
   'native_country',
   'workclass',
   'income',
   'occupation',
   'fnlwgt'],
  'from_tbl_name_real': 'C1',
  'join_tbl_name_lst_real': 'Null',
  'sql_real': 'SELECT education, age, race, native_country, workclass, income, occupation, fnlwgt, COUNT(*)  FROM C1  GROUP BY education, age, race, native_country, workclass, income, occupation, fnlwgt',
  'n_cols_real': 9,
  'n_rows_real': 48610,
  'from_tbl_name_syn': 'C1_syn_default_1',
  'join_tbl_name_lst_syn': 'Null',
  'sql_syn': 'SELECT education, age, race, native_country, workclass, income, occupation, fnlwgt, COUNT(*)  FROM C1_syn_default_1  GROUP BY education, age, race, native_country, workclass, income, occupation, fnlwgt',
  'n_cols_syn': 9,
  'n_rows_syn': 48770}}