In [22]:
import sys
sys.path.append('/home/samer/projects/fuzzy_sql/src') #This will enable reading the modules
from pathlib import Path
import os
import json

from fuzzy_sql.rnd_query import RND_QUERY
from fuzzy_sql.fuzzy_sql import *

In [23]:
#set directories
root_dir=Path('/home/samer/projects/fuzzy_sql')
metadata_dir=os.path.join(root_dir,'data/sdgd/processed/metadata')
db_path=os.path.join(root_dir,'db/sdgd.db')

In [24]:
#define input tables and metadata

tbl_names_lst=["C1"]

metadata_lst=[]
for tbl_name in tbl_names_lst:
    with open(os.path.join(metadata_dir,tbl_name+'.json'),'r') as f:
        metadata_lst.append(json.load(f))

In [25]:
#setup parameters
DFLT_PARAMS={
    'AGG_OPS':{'AVG':0.5, 'SUM':0.3, 'MAX':0.1, 'MIN':0.1 },
    'LOGIC_OPS':{'AND':0.9,'OR':0.1},
    'NOT_STATE':{'0':0.8, '1':0.2},
    'CAT_OPS':{'=':0.25, '<>':0.25, 'LIKE':0.15, 'IN':0.15, 'NOT LIKE':0.1, 'NOT IN':0.1},
    'CNT_OPS':{'=':0.2, '>':0.1, '<':0.1, '>=':0.1, '<=':0.1, '<>':0.1, 'BETWEEN':0.2, 'NOT BETWEEN':0.1},
    'DT_OPS':{'=':0.2, '>':0.1, '<':0.1, '>=':0, '<=':0, '<>':0.1, 'BETWEEN':0.2, 'IN':0.1, 'NOT BETWEEN':0.1, 'NOT IN':0.1},
    # 'FILTER_TYPE':{'WHERE':0.5, 'AND':0.5}, #Use WHERE or AND with JOIN CLAUSE
    # 'JOIN_TYPE': {'JOIN':0.5, 'LEFT JOIN':0.5}
}

#connect to db
conn = sqlite3.connect(db_path)

self=RND_QUERY(conn, tbl_names_lst, metadata_lst,DFLT_PARAMS)

Metadata fot table C1 validated.

# Generate Random  queries

In [26]:
rnd_query=self.make_single_agg_query(agg_fntn=True)


n_rows=rnd_query['query_desc']['n_rows']
n_cols=rnd_query['query_desc']['n_cols']

print(f"no_of_rows={n_rows}\nno_of_cols={n_cols}\nproduct={n_rows*n_cols/1000}")
print("\n")
print(rnd_query['query_desc']['sql'])

SELECT C1.income, C1.marital_status, C1.occupation, C1.workclass, C1.sex, COUNT(*), AVG(C1.hours_per_week)  FROM C1  GROUP BY C1.income, C1.marital_status, C1.occupation, C1.workclass, C1.sex
no_of_rows=1079
no_of_cols=7
product=7.553


SELECT C1.income, C1.marital_status, C1.occupation, C1.workclass, C1.sex, COUNT(*), AVG(C1.hours_per_week)  FROM C1  GROUP BY C1.income, C1.marital_status, C1.occupation, C1.workclass, C1.sex

In [27]:
syn_tbl_name_lst=['C1_syn_default_1']
rnd_query=self.make_twin_agg_query(syn_tbl_name_lst, agg_fntn=True)

n_rows_real=rnd_query['query_desc']['n_rows_real']
n_cols_real=rnd_query['query_desc']['n_cols_real']
n_rows_syn=rnd_query['query_desc']['n_rows_syn']
n_cols_syn=rnd_query['query_desc']['n_cols_syn']

print(f"REAL:\nno_of_rows={n_rows_real}\nno_of_cols={n_cols_real}\nproduct={n_rows_real*n_cols_real/1000}\n\n")
print(f"SYN:\nno_of_rows={n_rows_syn}\nno_of_cols={n_cols_syn}\nproduct={n_rows_syn*n_cols_syn/1000}\n\n")
print(rnd_query['query_desc']['sql_real'])

REAL:
no_of_rows=10400
no_of_cols=10
product=104.0


SYN:
no_of_rows=11901
no_of_cols=10
product=119.01


SELECT C1.income, C1.native_country, C1.education, C1.occupation, C1.marital_status, C1.workclass, C1.sex, C1.relationship, COUNT(*), SUM(C1.hours_per_week)  FROM C1  GROUP BY C1.income, C1.native_country, C1.education, C1.occupation, C1.marital_status, C1.workclass, C1.sex, C1.relationship

In [28]:
# self.no_groupby_vars=2
# self.no_where_vars=2
# self.max_in_terms=2

rnd_query=self.make_single_fltr_query()


n_rows=rnd_query['query_desc']['n_rows']
n_cols=rnd_query['query_desc']['n_cols']

print(f"no_of_rows={n_rows}\nno_of_cols={n_cols}\nproduct={n_rows*n_cols/1000}")
print("\n")
print(rnd_query['query_desc']['sql'])

SELECT *  FROM C1  WHERE   C1.income <> '<=50K' OR  C1.capital BETWEEN 0 AND 0 AND  C1.native_country IN ('United-States', 'United-States', 'United-States') AND  C1.race <> 'White' AND  C1.workclass <> 'Private' AND NOT  C1.occupation <> 'Craft-repair' AND NOT  C1.age <= 64 AND  C1.sex = 'Female' AND NOT  C1.fnlwgt <= 296253 AND  C1.relationship = 'Not-in-family' AND  C1.hours_per_week < 32 AND  C1.marital_status = 'Divorced'
no_of_rows=11687
no_of_cols=13
product=151.931


SELECT *  FROM C1  WHERE   C1.income <> '<=50K' OR  C1.capital BETWEEN 0 AND 0 AND  C1.native_country IN ('United-States', 'United-States', 'United-States') AND  C1.race <> 'White' AND  C1.workclass <> 'Private' AND NOT  C1.occupation <> 'Craft-repair' AND NOT  C1.age <= 64 AND  C1.sex = 'Female' AND NOT  C1.fnlwgt <= 296253 AND  C1.relationship = 'Not-in-family' AND  C1.hours_per_week < 32 AND  C1.marital_status = 'Divorced'