In [1]:
import sys
sys.path.append('/home/samer/projects/fuzzy_sql/src') #This will enable reading the modules
from pathlib import Path
import os
import json

from fuzzy_sql.rnd_query import RND_QUERY
from fuzzy_sql.fuzzy_sql import *

In [2]:
#set directories
root_dir=Path('/home/samer/projects/fuzzy_sql')
metadata_dir=os.path.join(root_dir,'data/lucy/processed/metadata')
db_path=os.path.join(root_dir,'db/lucy.db')

In [3]:
#define input tables and metadata
tbl_names_lst=["b_sample","l_sample"]

metadata_lst=[]
for tbl_name in tbl_names_lst:
    with open(os.path.join(metadata_dir,tbl_name+'.json'),'r') as f:
        metadata_lst.append(json.load(f))

In [4]:
#setup parameters
DFLT_PARAMS={
    'AGG_OPS':{'AVG':0.5, 'SUM':0.3, 'MAX':0.1, 'MIN':0.1 },
    'LOGIC_OPS':{'AND':0.9,'OR':0.1},
    'NOT_STATE':{'0':0.8, '1':0.2},
    'CAT_OPS':{'=':0.25, '<>':0.25, 'LIKE':0.15, 'IN':0.15, 'NOT LIKE':0.1, 'NOT IN':0.1},
    'CNT_OPS':{'=':0.2, '>':0.1, '<':0.1, '>=':0.1, '<=':0.1, '<>':0.1, 'BETWEEN':0.2, 'NOT BETWEEN':0.1},
    'DT_OPS':{'=':0.2, '>':0.1, '<':0.1, '>=':0, '<=':0, '<>':0.1, 'BETWEEN':0.2, 'IN':0.1, 'NOT BETWEEN':0.1, 'NOT IN':0.1},
    'LESS_GRP_VARS': False, # enforce bias in random queries toward smaller number of groupby vars. Default is no bias (i.e. uniform sampling)
    'LESS_CMP_VARS':False, # enforce bias in random queries toward small number of  comparison terms. Default is no bias (i.e. uniform sampling)
    'JOIN_CNDTN':{'WHERE':0.5, 'AND':0.5} #Use WHERE or AND with JOIN CLAUSE
}

#connect to db
conn = sqlite3.connect(db_path)

self=RND_QUERY(conn, tbl_names_lst, metadata_lst,DFLT_PARAMS)

smk2

In [5]:
# Generate Single queries 
# rnd_query=self.make_single_agg_query()
# rnd_query=self.make_single_agg_query_w_aggfntn()
# rnd_query=self.make_single_fltr_query()
# rnd_query=self.make_single_aggfltr_query()
# rnd_query=self.make_single_aggfltr_query_w_aggfntn()

In [16]:
# Generate Single queries 
rnd_query=self.make_single_agg_query()

['l_sample'] 1

In [17]:
rnd_query

{'query':        Homeless PL_NCHS2 PL_UIC20 HOSPBRTH    PNUM_R    PNUM_R NEOMAT  \
 0             0     None     None        0  10044368  10044368      0
 1             0     None     None        0  10044368  10044368      0
 2             0     None     None        0   1018764   1018764      0
 3             0     None     None        0   1018764   1018764      0
 4             0     None     None        0  10235227  10235227      0
 ...         ...      ...      ...      ...       ...       ...    ...
 457222        0        6        9        0   8221150   8221150      0
 457223        0        6        9        0   8221150   8221150      0
 457224        0        6        9        0   9194098   9194098      0
 457225        0        6        9        0   9194098   9194098      0
 457226        0        6        9        0   9528326   9528326      1

        MEDINCST ASCHED  COUNT(*)
 0          None      0         2
 1          None      1         2
 2          None      0         1
 3          None      1         1
 4          None      0         2
 ...         ...    ...       ...
 457222        2      0         1
 457223        2      1         1
 457224        1      0         1
 457225        1      1         1
 457226        2      0         2

 [457227 rows x 10 columns],
 'query_desc': {'type': 'single_agg',
  'agg_fntn': 'None',
  'grpby_vars': ['b_sample.Homeless',
   'b_sample.PL_NCHS2',
   'b_sample.PL_UIC20',
   'b_sample.HOSPBRTH',
   'b_sample.PNUM_R',
   'l_sample.PNUM_R',
   'b_sample.NEOMAT',
   'b_sample.MEDINCST',
   'l_sample.ASCHED'],
  'from_tbl_name': 'b_sample',
  'join_tbl_names': ['l_sample', 'b_sample'],
  'sql': 'SELECT b_sample.Homeless, b_sample.PL_NCHS2, b_sample.PL_UIC20, b_sample.HOSPBRTH, b_sample.PNUM_R, l_sample.PNUM_R, b_sample.NEOMAT, b_sample.MEDINCST, l_sample.ASCHED, COUNT(*)  FROM b_sample  JOIN l_sample  ON b_sample.PNUM_R=l_sample.PNUM_R  GROUP BY b_sample.Homeless, b_sample.PL_NCHS2, b_sample.PL_UIC20, b_sample.HOSPBRTH, b_sample.PNUM_R, l_sample.PNUM_R, b_sample.NEOMAT, b_sample.MEDINCST, l_sample.ASCHED',
  'n_rows': 457227,
  'n_cols': 10}}