In [1]:
import sys
sys.path.append('/home/samer/projects/fuzzy_sql/src') #This will enable reading the modules
from pathlib import Path
import os
import json
import time

from fuzzy_sql.rnd_query import RND_QUERY
from fuzzy_sql.fuzzy_sql import *

In [2]:
#set directories
root_dir=Path('/home/samer/projects/fuzzy_sql')
metadata_dir=os.path.join(root_dir,'data/lucy/processed/metadata')
db_path=os.path.join(root_dir,'db/lucy.db')

In [3]:
#define input tables and metadata
tbl_names_lst=["b_sample","l_sample"]
syn_tbl_name_lst=['b_sample_syn_01','l_sample_syn_01']

metadata_lst=[]
for tbl_name in tbl_names_lst:
    with open(os.path.join(metadata_dir,tbl_name+'.json'),'r') as f:
        metadata_lst.append(json.load(f))

#connect to db
conn = sqlite3.connect(db_path)

In [4]:
query_obj=RND_QUERY(conn, tbl_names_lst, metadata_lst)

Metadata for table b_sample is valid.
Metadata for table l_sample is valid.
Parameter input is valid.

In [5]:
def gen_aggfltr_queries(query_obj: object,syn_tbl_name_lst: str) -> list:
    n_queries=10
    queries = []
    timeout=5 #maximum time in secs to execute the query, otherwise it will be skipped to next random query 
    for k in range(n_queries):
        query_obj.no_groupby_vars=2
        query_obj.no_where_vars=3
        start_time=time.time()
        while time.time() < start_time+timeout:
            rnd_query=query_obj.make_twin_aggfltr_query(syn_tbl_name_lst)
            matched_query=query_obj._match_twin_query(rnd_query)
            scored_query=query_obj.calc_dist_scores(matched_query)
            queries.append(scored_query)
            print('Generated Random Aggregate Filter Query - {} '.format(str(k)))
            break  
    return queries

In [6]:
gen_aggfltr_queries(query_obj,syn_tbl_name_lst)

Generated Random Aggregate Filter Query - 0

[{'query_real':      Homeless    DX1  COUNT(*)  AVG(l_sample.DRGVER)
  0           0   1119         0                   0.0
  1           0   1122         0                   0.0
  2           0   1124         0                   0.0
  3           0   1125         1                  24.0
  4           0  11284         0                   0.0
  ...       ...    ...       ...                   ...
  1635        0  V6889         0                   0.0
  1636        0   V707         0                   0.0
  1637        0  V7189         0                   0.0
  1638        0  V7283         0                   0.0
  1639        0   None    335162                   NaN

  [1640 rows x 4 columns],
  'query_syn':      Homeless    DX1  COUNT(*)  AVG(l_sample_syn_01.DRGVER)
  0           0   1119         1                    24.000000
  1           0   1122         3                    24.333333
  2           0   1124         2                    25.000000
  3           0   1125         1                    24.000000
  4           0  11284         4                    24.750000
  ...       ...    ...       ...                          ...
  1635        0  V6889         1                    24.000000
  1636        0   V707         2                    24.500000
  1637        0  V7189         1                    24.000000
  1638        0  V7283         1                    24.000000
  1639        0   None    334602                          NaN

  [1640 rows x 4 columns],
  'query_desc': {'type': 'twin_agg',
   'agg_fntn': ('AVG', 'l_sample.DRGVER'),
   'grpby_vars': ['Homeless', 'DX1'],
   'from_tbl_name_real': 'b_sample',
   'join_tbl_name_lst_real': ['l_sample'],
   'sql_real': "SELECT b_sample.Homeless, l_sample.DX1, COUNT(*), AVG(l_sample.DRGVER)  FROM b_sample  LEFT JOIN l_sample  ON b_sample.PNUM_R=l_sample.PNUM_R  AND   l_sample.LOS > 4 AND  b_sample.PL_UR_CA NOT IN ('1', '2') AND  b_sample.PL_UIC20 NOT IN ('1')  GROUP BY b_sample.Homeless, l_sample.DX1",
   'n_cols_real': 4,
   'n_rows_real': 1147,
   'from_tbl_name_syn': 'b_sample_syn_01',
   'join_tbl_name_lst_syn': ['l_sample_syn_01'],
   'sql_syn': "SELECT b_sample_syn_01.Homeless, l_sample_syn_01.DX1, COUNT(*), AVG(l_sample_syn_01.DRGVER)  FROM b_sample_syn_01  LEFT JOIN l_sample_syn_01  ON b_sample_syn_01.PNUM_R=l_sample_syn_01.PNUM_R  AND   l_sample_syn_01.LOS > 4 AND  b_sample_syn_01.PL_UR_CA NOT IN ('1', '2') AND  b_sample_syn_01.PL_UIC20 NOT IN ('1')  GROUP BY b_sample_syn_01.Homeless, l_sample_syn_01.DX1",
   'n_cols_syn': 4,
   'n_rows_syn': 1217},
  'query_hlngr_score': 0.04967531045819303,
  'query_ecldn_score': 0.0}]