In [1]:
from config_paths import *
import sys
sys.path.append(str(SRC_DIR))

from fuzzy_sql.generate import gen_fltr_queries, calc_tabular_hlngr
import numpy as np
import pandas as pd
import json
import os
from pathlib import Path

DATASET_NAME='cal'

In [2]:
# set directories
metadata_dir = os.path.join(DATA_DIR, DATASET_NAME,'processed/metadata')
db_path = os.path.join(DB_DIR, f'{DATASET_NAME}.db')

metadata_dir = os.path.join(DATA_DIR, DATASET_NAME,'processed/metadata')
real_dir = os.path.join(DATA_DIR,DATASET_NAME, 'processed/real')
syn_dir = os.path.join(DATA_DIR,DATASET_NAME, 'processed/synthetic')
db_path = os.path.join(DB_DIR, f'{DATASET_NAME}.db')

In [3]:
# Create lists with table names. Table names shall be identical to the names initially created in the database.
real_tbl_lst=["b_sample","l_sample"]
syn_tbl_lst=['b_sample_syn_01','l_sample_syn_01']


# Read metadata from the provided json files into a list of dictionaries. 
# Note 1: Both real and synthetic data should have the same metadata file.
# Note 2: Each input table in real_tbl_lst above shall have its own metadata file.
# Note 2: The json file name shall match that of the real data file name in real_tbl_lst. 
metadata_lst = []
for tbl_name in real_tbl_lst:
    with open(os.path.join(metadata_dir, tbl_name+'.json'), 'r') as f:
        metadata_lst.append(json.load(f))

In [4]:
scored_queries=gen_fltr_queries(5,db_path,real_tbl_lst,metadata_lst, syn_tbl_lst)

/home/samer/projects/fuzzy_sql/src/fuzzy_sql/randomquery.py:1405: IntegrationWarning: The maximum number of subdivisions (50) has been achieved.
  If increasing the limit yields no improvement it is advised to analyze
  the integrand in order to determine the difficulties.  If the position of a
  local difficulty can be determined (singularity, discontinuity) one will
  probably gain from splitting up the interval and calling the integrator
  on the subranges.  Perhaps a special-purpose integrator should be used.
  hlngr_dist = np.sqrt(quad(hlngr_integrand, lb, ub)[0]/2)

Variable NECODE is defined as continuous but it has very small number of observations, so it will be treated as categorical variable

/home/samer/projects/fuzzy_sql/src/fuzzy_sql/randomquery.py:1405: IntegrationWarning: The maximum number of subdivisions (50) has been achieved.
  If increasing the limit yields no improvement it is advised to analyze
  the integrand in order to determine the difficulties.  If the position of a
  local difficulty can be determined (singularity, discontinuity) one will
  probably gain from splitting up the interval and calling the integrator
  on the subranges.  Perhaps a special-purpose integrator should be used.
  hlngr_dist = np.sqrt(quad(hlngr_integrand, lb, ub)[0]/2)

Variable PROCTYPE is defined as continuous but it has very small number of observations, so it will be treated as categorical variable
Variable AWEEKEND is defined as continuous but it has very small number of observations, so it will be treated as categorical variable
Variable DRGVER is defined as continuous but it has very small number of observations, so it will be treated as categorical variable
Variable HCUP_ED is defined as continuous but it has very small number of observations, so it will be treated as categorical variable
Generated Random Filter Query - 1 in 88.0 seconds.


Variable Date is defined as continuous but it has very small number of observations, so it will be treated as categorical variable
Variable NECODE is defined as continuous but it has very small number of observations, so it will be treated as categorical variable
Variable NPR is defined as continuous but it has very small number of observations, so it will be treated as categorical variable
Variable PROCTYPE is defined as continuous but it has very small number of observations, so it will be treated as categorical variable
Variable AWEEKEND is defined as continuous but it has very small number of observations, so it will be treated as categorical variable
Variable DRGVER is defined as continuous but it has very small number of observations, so it will be treated as categorical variable
Variable HCUP_ED is defined as continuous but it has very small number of observations, so it will be treated as categorical variable
Generated Random Filter Query - 2 in 10.3 seconds.


Variable AGE is defined as continuous but it has very small number of observations, so it will be treated as categorical variable
Variable Date is defined as continuous but it has very small number of observations, so it will be treated as categorical variable
Variable LOS is defined as continuous but it has very small number of observations, so it will be treated as categorical variable
Variable MDC is defined as continuous but it has very small number of observations, so it will be treated as categorical variable
Variable NDX is defined as continuous but it has very small number of observations, so it will be treated as categorical variable
Variable NECODE is defined as continuous but it has very small number of observations, so it will be treated as categorical variable
Variable NPR is defined as continuous but it has very small number of observations, so it will be treated as categorical variable
Variable TOTCHG is defined as continuous but it has very small number of observations, so it will be treated as categorical variable
Variable PROCTYPE is defined as continuous but it has very small number of observations, so it will be treated as categorical variable
Variable AWEEKEND is defined as continuous but it has very small number of observations, so it will be treated as categorical variable
Variable DRGVER is defined as continuous but it has very small number of observations, so it will be treated as categorical variable
Variable HCUP_ED is defined as continuous but it has very small number of observations, so it will be treated as categorical variable
Generated Random Filter Query - 3 in 10.9 seconds.

/home/samer/projects/fuzzy_sql/src/fuzzy_sql/randomquery.py:1405: IntegrationWarning: The maximum number of subdivisions (50) has been achieved.
  If increasing the limit yields no improvement it is advised to analyze
  the integrand in order to determine the difficulties.  If the position of a
  local difficulty can be determined (singularity, discontinuity) one will
  probably gain from splitting up the interval and calling the integrator
  on the subranges.  Perhaps a special-purpose integrator should be used.
  hlngr_dist = np.sqrt(quad(hlngr_integrand, lb, ub)[0]/2)

Variable NECODE is defined as continuous but it has very small number of observations, so it will be treated as categorical variable
Variable PROCTYPE is defined as continuous but it has very small number of observations, so it will be treated as categorical variable
Variable AWEEKEND is defined as continuous but it has very small number of observations, so it will be treated as categorical variable
Variable DRGVER is defined as continuous but it has very small number of observations, so it will be treated as categorical variable
Variable HCUP_ED is defined as continuous but it has very small number of observations, so it will be treated as categorical variable
Generated Random Filter Query - 4 in 35.8 seconds.


Variable Date is defined as continuous but it has very small number of observations, so it will be treated as categorical variable
Variable LOS is defined as continuous but it has very small number of observations, so it will be treated as categorical variable
Variable MDC is defined as continuous but it has very small number of observations, so it will be treated as categorical variable
Variable NDX is defined as continuous but it has very small number of observations, so it will be treated as categorical variable
Variable NECODE is defined as continuous but it has very small number of observations, so it will be treated as categorical variable
Variable NPR is defined as continuous but it has very small number of observations, so it will be treated as categorical variable
Variable TOTCHG is defined as continuous but it has very small number of observations, so it will be treated as categorical variable
Variable PROCTYPE is defined as continuous but it has very small number of observations, so it will be treated as categorical variable
Variable AWEEKEND is defined as continuous but it has very small number of observations, so it will be treated as categorical variable
Variable DRGVER is defined as continuous but it has very small number of observations, so it will be treated as categorical variable
Variable HCUP_ED is defined as continuous but it has very small number of observations, so it will be treated as categorical variable
Generated Random Filter Query - 5 in 16.1 seconds.

In [5]:
[scored_query['hlngr_median'] for scored_query in scored_queries]

[nan, nan, nan, nan, nan]

In [8]:
scored_queries[0]['query_syn']

,PNUM_R,AGE,DIED,DNR,FEMALE,HOSPBRTH,Homeless,HISPANIC,NEOMAT,PL_CBSA,...,NDX,NECODE,NPR,TOTCHG,PROCTYPE,DX1,ASCHED,AWEEKEND,DRGVER,HCUP_ED
0,3458475,84,0,0,1,0,0,1,0,2,...,10,0,3,40480,1,44389,1,0,24,0
1,3458475,84,0,0,1,0,0,1,0,2,...,7,2,6,146883,1,72252,1,0,24,0
2,3458475,84,0,0,1,0,0,1,0,2,...,7,1,1,40336,1,49121,0,0,24,4
3,3458475,84,0,0,1,0,0,1,0,2,...,3,0,3,11276,1,64941,0,0,24,0
4,4664869,43,0,0,1,0,0,2,0,2,...,7,0,3,27020,1,78659,1,0,24,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208033,1556916,72,0,0,0,0,0,2,0,2,...,7,0,1,13005,1,4139,0,0,25,4
208034,4035051,56,0,0,0,0,0,2,0,2,...,12,0,0,24334,0,78659,0,0,25,4
208035,4035051,56,0,0,0,0,0,2,0,2,...,17,0,5,195575,1,389,0,0,25,4
208036,9469459,67,0,0,1,0,0,1,0,2,...,11,4,10,57450,1,3320,0,0,24,4
208037,9469459,67,0,0,1,0,0,1,0,2,...,16,0,0,41342,0,5722,0,0,25,4