In [1]:
import sys
sys.path.append('/home/samer/projects/fuzzy_sql/src') #This will enable reading the modules
from fuzzy_sql.fuzzy_sql import *

In [2]:
def _assign_dtype(df, dict):
    #Correct dtypes of real and syn dataframes before saving in the database 
    #map metaddata into dtype dict with pandas dtypes
    #cols in df shall match keys in in_dict
    assert bool(set(df.columns).intersection(set(dict.keys())))
    out_dict={}
    for key in dict:
        if dict[key] in ['quantitative','continuous','interval','ratio']:
            out_dict[key]='float64'
        elif dict[key] in ['date','time','datetime']:
            out_dict[key]='datetime64'
        else:
            out_dict[key]='category'
    
    for col in df.columns:
        df[col]=df[col].astype(out_dict[col])

    return df

In [3]:
class LONG_QUERY():
    """ Generates random queries for baseline-longitudinal datasets. 
    """

    def __init__(self, db_conn: object, parent_tbl_name: str, child_tbl_name: str, metadata: dict,params: dict , seed=False):
        """ 
        Args:
            db_conn: The connection object of the sqlite database where the data exists.
            parent_tbl_name: The name of the parent table (i.e. baseline data) in the database.
            child_tbl_name: The name of the child table (i.e. longitudinal data) in the database.
            metadata: A dictionary that includes table's variable names (i.e. column names) as keys and types of variables as values. THey types shall be restricted to: 'continuous', 'data' and 'nominal'. Any table shall have at least one nominal variable.
            params: A dictionary that includes the set of parameters that are necessary for generating the random queries. 
            seed: If set to True, generated random queries become deterministic. 
        """
        self.SEED=seed
        self.seed_no=141

        self.CUR = db_conn.cursor()
        self.PARENT_NAME = parent_tbl_name #RP = Real Parent
        self.CHILD_NAME = child_tbl_name #RC = Real Child
        self.metadata=copy.deepcopy(metadata)
        
        #Fetch Real data (both parent and child)
        self.PARENT_DF=pd.read_sql_query(f'SELECT * FROM {self.PARENT_NAME}', db_conn) #Real Parent Dataframe
        self.CHILD_DF=pd.read_sql_query(f'SELECT * FROM {self.CHILD_NAME}', db_conn) #Real Child Dataframe


        #Get foreign key name
        self.FKEY_NAME=self.metadata['key']

        #Delete foreign key from child variables to avoid repetition of variable in various expression
        del self.metadata['child'][self.FKEY_NAME]


        #Segregate variables into lists based on their types
        self.CAT_VARS={} #Parent Categorical Variables
        self.CNT_VARS={}
        self.DT_VARS={}
        self.CAT_VARS['parent']=[key for key, value in self.metadata['parent'].items() if value in ['qualitative','categorical','nominal','discrete','ordinal','dichotomous']]
        self.CAT_VARS['child']=[key for key, value in self.metadata['child'].items() if value in ['qualitative','categorical','nominal','discrete','ordinal','dichotomous']]
        self.CNT_VARS['parent']=[key for key, value in self.metadata['parent'].items() if value in ['quantitative','continuous','interval','ratio']]
        self.CNT_VARS['child']=[key for key, value in self.metadata['child'].items() if value in ['quantitative','continuous','interval','ratio']]
        self.DT_VARS['parent']=[key for key, value in self.metadata['parent'].items() if value in ['date','time','datetime']]
        self.DT_VARS['child']=[key for key, value in self.metadata['child'].items() if value in ['date','time','datetime']]



        # Aggregate function applies only when there is at least one continuous variable 
        self.AGG_FNCTN=True if len(self.CNT_VARS['parent'])!=0 or len(self.CNT_VARS['child'])!=0 else False

        # Define random query attributes
        self.ATTRS=params #General attributes that can be set by the user


        # Generate dictionaries of bags for various variables
        self.CAT_VAL_BAGS={}
        self.CNT_VAL_BAGS={}
        self.DT_VAL_BAGS={}
        self.CAT_VAL_BAGS['parent']=self._make_bags(self.PARENT_DF[self.CAT_VARS['parent']])
        self.CNT_VAL_BAGS['parent']=self._make_bags(self.PARENT_DF[self.CNT_VARS['parent']])
        self.DT_VAL_BAGS['parent']=self._make_bags(self.PARENT_DF[self.DT_VARS['parent']])
        self.CAT_VAL_BAGS['child']=self._make_bags(self.CHILD_DF[self.CAT_VARS['child']])
        self.CNT_VAL_BAGS['child']=self._make_bags(self.CHILD_DF[self.CNT_VARS['child']])
        self.DT_VAL_BAGS['child']=self._make_bags(self.CHILD_DF[self.DT_VARS['child']])
        

    def _make_bags(self,df:pd.DataFrame)-> dict:
        val_bags={}
        for var in df.columns:
            vals=df[var].values
            vals=[x for x in vals if x==x] #drop nan
            vals=list(filter(None, vals)) #drop None
            val_bags[var]=vals if len(vals)!=0 else ['N/A']
        return val_bags

    def make_query(self,cur: object, query_exp: str)-> pd.DataFrame:
        cur.execute(query_exp)
        query = cur.fetchall()
        query=pd.DataFrame(query, columns=[description[0] for description in cur.description])
        return query

    # def _get_var_idx(self, var_name):
    #     if var_name in self.PARENT_DF.columns: #search in parent
    #         idx=self.PARENT_DF.columns.get_loc(var_name)
    #         return 'parent',idx
    #     elif var_name in self.CHILD_DF.columns: #search in child
    #         idx=self.CHILD_DF.columns.get_loc(var_name)
    #         return 'child', idx
    #     else:
    #         raise Exception(f"{var_name} not found in parent or child tables!")

    def _mix_vars(self,*args):
        #accepts variable length of arguments as tuples where each tuple consists of the table name and the some variables that belong to that table
        # returns mixed variables in one list but each variable is concatenated with its respective table name
        mixed_vars=[]
        for arg in args:
            vars=[arg[0]+'.'+x for x in arg[1]]
            mixed_vars+=vars
        return mixed_vars

    def _get_twin_lst(self, in_lst,in_parent_name, out_parent_name, in_child_name, out_child_name)-> list:
        out_lst=[var.replace(in_parent_name,out_parent_name ) for var in in_lst] 
        out_lst=[var.replace(in_child_name,out_child_name ) for var in out_lst] 
        return out_lst

    def _get_rnd_groupby_lst(self)-> list:
        #You can group by CAT_VARS whether from parent or child or both
        #returned picked cat vars include the concatenated table name
        if self.SEED:
            np.random.seed(self.seed_no)
            random.seed(self.seed_no)
        all_cat_vars=self._mix_vars((self.PARENT_NAME,self.CAT_VARS['parent']),(self.CHILD_NAME,self.CAT_VARS['child']))
        # parent_cat_vars=[self.PARENT_NAME+'.'+x for x in self.CAT_VARS['parent']]
        # child_cat_vars=[self.CHILD_NAME+'.'+x for x in self.CAT_VARS['child']]
        # all_cat_vars=parent_cat_vars +child_cat_vars
        n_vars_bag=np.arange(1, 1+len(all_cat_vars)) 
        if self.ATTRS['LESS_GRP_VARS']:#define slope-down discrete distribution 
            n_var_probs=n_vars_bag[::-1]/n_vars_bag.sum()
            # n_var_probs= np.zeros_like(n_vars_bag)
            # n_var_probs[0]=1
            n_vars=np.random.choice(n_vars_bag, p=n_var_probs)
        else:
            n_vars=np.random.choice(n_vars_bag)
        picked_vars = random.sample(all_cat_vars, n_vars)
        return picked_vars


    def _get_rnd_aggfntn_tpl(self) -> tuple:
        #returns a random tuple of agg function and continuous OR date variable 
        # continuous variable can be from either parent or child tables 
        if self.SEED:
            np.random.seed(self.seed_no)
            random.seed(self.seed_no)
        all_possible_vars=self._mix_vars((self.PARENT_NAME,self.CNT_VARS['parent']),(self.PARENT_NAME,self.DT_VARS['parent']),(self.CHILD_NAME,self.CNT_VARS['child']),(self.CHILD_NAME,self.DT_VARS['child']))
        picked_var=np.random.choice(all_possible_vars)
        picked_op=np.random.choice(list(self.ATTRS['AGG_OPS'].keys()), p=list(self.ATTRS['AGG_OPS'].values()))
        return (picked_op,picked_var)




    




#########################################################################

    def _build_agg_expr(self,  pname: str, cname: str, fkey: str, groupby_lst: list) -> str:
        expr1=f'SELECT *,COUNT(*) FROM {pname} JOIN {cname} ON {pname}.{fkey} = {cname}.{fkey}'
        expr2_1=' GROUP BY '
        expr2_2=f'{groupby_lst}'
        expr2_2=expr2_2.replace("[","")
        expr2_2=expr2_2.replace("]","")
        expr2_2=expr2_2.replace("'","")
        return expr1+expr2_1+expr2_2

    
    def make_single_agg_query(self) -> dict:
        dic={}
        single_grp_lst=self._get_rnd_groupby_lst()
        single_expr=self._build_agg_expr(self.PARENT_NAME, self.CHILD_NAME,self.FKEY_NAME, single_grp_lst)
        query=self.make_query(self.CUR, single_expr)
        dic['query']=query
        dic['query_desc']={
            "type":"single_agg",
            "sql":single_expr,
            "n_rows":query.shape[0],
            "n_cols":query.shape[1]
        }
        return dic

    def make_twin_agg_query(self, twin_parent_name, twin_child_name):
        dic={}
        real_grp_lst =self._get_rnd_groupby_lst()
        syn_grp_lst=self._get_twin_lst(real_grp_lst, self.PARENT_NAME,twin_parent_name, self.CHILD_NAME,twin_child_name)
        real_expr=self._build_agg_expr(self.PARENT_NAME, self.CHILD_NAME,self.FKEY_NAME, real_grp_lst)
        syn_expr=self._build_agg_expr(twin_parent_name, twin_child_name,self.FKEY_NAME, syn_grp_lst)
        query_real=self.make_query(self.CUR, real_expr)
        query_syn=self.make_query(self.CUR, syn_expr)
        dic['query_real']=query_real
        dic['query_syn']=query_syn
        dic['query_desc']={
            "type":"twin_agg",
            "sql_real":real_expr,
            "n_cols_real":query_real.shape[1],
            "n_rows_real":query_real.shape[0],
            "sql_syn":syn_expr,
            "n_cols_syn":query_syn.shape[1],
            "n_rows_syn":query_syn.shape[0],
        }
        return dic

     

    def _build_agg_expr_w_aggfntn(self,pname: str, cname: str, fkey: str, agg_fntn_tpl: tuple, groupby_lst: list) -> str:
        fkey=self.FKEY_NAME
        expr1=f'SELECT *,COUNT(*), {agg_fntn_tpl[0]}({agg_fntn_tpl[1]}) FROM {pname} JOIN {cname} ON {pname}.{fkey} = {cname}.{fkey}'
        expr2_1=' GROUP BY '
        expr2_2=f'{groupby_lst}'
        expr2_2=expr2_2.replace("[","")
        expr2_2=expr2_2.replace("]","")
        expr2_2=expr2_2.replace("'","")
        expr=expr1+expr2_1+expr2_2
        return expr
    

    def make_single_agg_query_w_aggfntn(self):
        dic={}
        single_grp_lst=self._get_rnd_groupby_lst()
        agg_fntn_tpl=self._get_rnd_aggfntn_tpl()
        expr=self._build_agg_expr_w_aggfntn(self.PARENT_NAME,self.CHILD_NAME, self.FKEY_NAME,agg_fntn_tpl,single_grp_lst)
        query=self.make_query(self.CUR, expr)
        dic['query']=query
        dic['query_desc']={
            "type":"single_agg",
            "sql":expr,
            "n_rows":query.shape[0],
            "n_cols":query.shape[1]
        }
        return dic

    def make_twin_agg_query_w_aggfntn(self,twintbl_parent_name,twintbl_child_name):
        dic={}
        real_groupby_lst=self._get_rnd_groupby_lst()
        syn_groupby_lst=self._get_twin_lst(real_groupby_lst, self.PARENT_NAME,twintbl_parent_name, self.CHILD_NAME, twintbl_child_name)
        real_aggfntn_tpl=self._get_rnd_aggfntn_tpl()
        syn_aggfntn_tpl=self._get_twin_lst(real_aggfntn_tpl, self.PARENT_NAME,twintbl_parent_name, self.CHILD_NAME, twintbl_child_name)
        real_expr=self._build_agg_expr_w_aggfntn(self.PARENT_NAME,self.CHILD_NAME,self.FKEY_NAME,real_aggfntn_tpl, real_groupby_lst)
        syn_expr=self._build_agg_expr_w_aggfntn(twintbl_parent_name,twintbl_child_name,self.FKEY_NAME,syn_aggfntn_tpl, syn_groupby_lst)
        query_real=self.make_query(self.CUR, real_expr)
        query_syn=self.make_query(self.CUR, syn_expr)
        dic['query_real']=query_real
        dic['query_syn']=query_syn
        dic['query_desc']={
            "type":"twin_agg",
            "sql_real":real_expr,
            "n_cols_real":query_real.shape[1],
            "n_rows_real":query_real.shape[0],
            "sql_syn":syn_expr,
            "n_cols_syn":query_syn.shape[1],
            "n_rows_syn":query_syn.shape[0],
            }
        return dic

# ######################################################################################
    
#     def _build_flter_single_expr(self, val_cmp_term: str) -> str:
#         pass


#     def _build_aggfltr_single_expr(self, val_cmp_term: str, groupby_term: str):
#         pass

#     def _build_aggfltr_w_fntn_single_expr(self, agg_fnt_term: str, val_cmp_term, groupby_term: str):
#         pass

#     def _build_flter_twin_expr(self, val_cmp_term: str) -> str:
#         pass

#     def _build_agg_twin_expr(self,groupby_term: str) -> str:
#         pass

#     def _build_agg_w_fntn_twin_expr(self, agg_fnt_term: str, groupby_term: str):
#         pass

#     def _build_aggfltr_twin_expr(self, val_cmp_term: str, groupby_term: str):
#         pass

#     def _build_aggfltr_w_fntn_twin_expr(self, agg_fnt_term: str, val_cmp_term, groupby_term: str):
#         pass

In [4]:
rp_path="/home/samer/projects/fuzzy_sql/data/longitudinal/ready/real/b_sample.csv" #real parent (baseline) path 
rc_path="/home/samer/projects/fuzzy_sql/data/longitudinal/ready/real/l_sample.csv" #real child (longitudinal) path 
sp_path="/home/samer/projects/fuzzy_sql/data/longitudinal/ready/synthetic/b_sample_syn.csv" #synthetic parent (baseline) path 
sc_path="/home/samer/projects/fuzzy_sql/data/longitudinal/ready/synthetic/l_sample_syn.csv" #synthetic child (longitudinal) path 
meta_path="/home/samer/projects/fuzzy_sql/data/longitudinal/ready/metadata/sample.json" #metdata path

In [5]:
# read data frames with all variables read as string and eliminate the apostrophe  '
rp=load_csv(rp_path) 
rc=load_csv(rc_path) 
sp=load_csv(sp_path)  
sc=load_csv(sc_path) 
import _json
with open(meta_path) as f:
    meta=json.load(f) #metadata for the data

In [6]:
#fix datatypes in loaded csv 
rp=_assign_dtype(rp, meta['parent'])
rc=_assign_dtype(rc, meta['child'])
sp=_assign_dtype(sp, meta['parent'])
sc=_assign_dtype(sc, meta['child'])

In [7]:
#define default parameters
DFLT_PARAMS={
    'AGG_OPS':{'AVG':0.5, 'SUM':0.3, 'MAX':0.1, 'MIN':0.1 },
    'LOGIC_OPS':{'AND':0.5,'OR':0.5},
    'NOT_STATE':{'0':1, '1':0},
    'CAT_OPS':{'=':0.25, '<>':0.25, 'LIKE':0.25, 'IN':0.25},
    'CNT_OPS':{'=':0.2, '>':0.1, '<':0.1, '>=':0.1, '<=':0.1, '<>':0.1, 'BETWEEN':0.3},
    'DT_OPS':{'=':0.2, '>':0.1, '<':0.1, '>=':0, '<=':0, '<>':0.1, 'BETWEEN':0.3, 'IN':0.2},
    'LESS_GRP_VARS': False, # enforce bias in random queries toward smaller number of groupby vars. Default is no bias (i.e. uniform sampling)
    'LESS_CMP_VARS':False, # enforce bias in random queries toward small number of  comparison terms. Default is no bias (i.e. uniform sampling)
}

In [8]:
# import real data into database
conn = sqlite3.connect('fuzzy_sql.db')
make_table('sample_r_b', rp, conn)
make_table('sample_r_l', rc, conn)
make_table('sample_s_b', sp, conn)
make_table('sample_s_l', sc, conn)

Table sample_r_b already exists in the database
Table sample_r_l already exists in the database
Table sample_s_b already exists in the database
Table sample_s_l already exists in the database

In [9]:
self=LONG_QUERY(conn,'sample_r_b','sample_r_l', meta,DFLT_PARAMS)

In [10]:
self.make_single_agg_query()

{'query':       PNUM_R   AGE DIED DNR FEMALE HOSPBRTH Homeless HISPANIC NEOMAT PL_CBSA  \
 0    1362038  22.0    0   0   None        0        0     None      0    None
 1     482884   NaN    0   0   None        0        0     None      1       0
 2     207404  72.0    0   0   None        0        0     None      0       0
 3      63394  26.0    0   0   None        0        0     None      0       0
 4      82222   NaN    0   0   None        0        0     None      1       1
 5     948920  17.0    0   0   None        0        0     None      0       1
 6   14089895  26.0    0   0   None        0        0     None      1       1
 7     418860  77.0    0   0   None        0        0     None      0       1
 8    7604273  57.0    0   0   None        0        0     None      0       1
 9       6116  12.0    0   0   None        0        0     None      0       2
 10     73430  49.0    0   0   None        0        0     None      0       2
 11     67949  62.0    0   0   None        0        0     None      0       2
 12     50676  57.0    0   0      0        0        0        2      0    None
 13   2811509  77.0    0   0      0        0        0        2      0       0
 14   1444078  53.0    0   0      0        0        0        2      0       0
 15     13594  69.0    0   0      0        0        0        2      0       0
 16     48331  76.0    0   0      0        0        0        2      0       0
 17    129840  77.0    0   0      0        0        0        2      0       0
 18   1462475  83.0    0   0      0        0        0        2      0       0
 19      2456  49.0    0   0      0        0        0        2      0       1
 20      2959  31.0    0   0      0        0        0        2      0       1
 21    883457  69.0    0   0      0        0        0        2      0       1
 22    429618  57.0    0   0      0        0        0        2      0       1
 23     76784  76.0    0   0      0        0        0        2      0       1
 24   7151028  58.0    0   0      0        0        0        2      0       1
 25  13916782  55.0    0   0      0        0        0        2      0       1
 26       105  83.0    0   0      0        0        0        2      0       2
 27       953  73.0    0   0      0        0        0        2      0       2
 28       372  68.0    0   0      0        0        0        2      0       2
 29    339064  65.0    0   0      0        0        0        2      0       2
 30  13960106   0.0    0   0      0        1        0        2      2       2
 31      5471  60.0    0   0      1        0        0        2      0    None
 32  14224880  64.0    0   0      1        0        0        2      0       0
 33      3008  42.0    0   0      1        0        0     None      0       0
 34     50856  73.0    0   0      1        0        0        2      0       0
 35    114660  26.0    0   0      1        0        0        2      0       0
 36   7077287  69.0    0   0      1        0        0        2      0       0
 37      2540  87.0    0   0      1        0        0        2      0       1
 38  14143980  67.0    0   0      1        0        0        2      0       1
 39     14606  82.0    0   0      1        0        0        2      0       1
 40   2827801  80.0    0   0      1        0        0        2      0       1
 41    182552  67.0    0   0      1        0        0        2      0       1
 42     17226  44.0    0   0      1        0        0        2      0       1
 43  14542873  85.0    0   0      1        0        0        2      0       1
 44   3445804  75.0    0   0      1        0        0        2      0       1
 45   6111714  74.0    0   0      1        0        0        2      0       1
 46        21  82.0    0   0      1        0        0        2      0       2
 47       393  37.0    0   0      1        0        0        1      0       2
 48      1567  82.0    0   0      1        0        0        2      0       2
 49    112794  26.0    0   0      1        0        0        1      0       2
 50   3387011   0.0    0   0      1        1        0        2      2       2

     ... NECODE  NPR    TOTCHG PROCTYPE    DX1 ASCHED AWEEKEND DRGVER  HCUP_ED  \
 0   ...    0.0  1.0   32522.0      1.0  34541      1      0.0   24.0      0.0
 1   ...    0.0  0.0   11412.0      0.0  78906      0      1.0   24.0      4.0
 2   ...    0.0  0.0    9310.0      0.0  48283      0      0.0   24.0      4.0
 3   ...    0.0  0.0    3090.0      0.0   5771      0      0.0   24.0      4.0
 4   ...    0.0  0.0   12777.0      0.0  64243      0      0.0   24.0      0.0
 5   ...    0.0  0.0    3765.0      0.0  25013      0      0.0   24.0      4.0
 6   ...    0.0  1.0    3560.0      1.0  78900      0      0.0   24.0      4.0
 7   ...    0.0  0.0    2972.0      0.0   5921      0      0.0   24.0      0.0
 8   ...    0.0  2.0  136728.0      1.0  73342      1      0.0   24.0      0.0
 9   ...    0.0  0.0   23526.0      0.0  49390      0      0.0   24.0      0.0
 10  ...    0.0  0.0    2132.0      0.0   2988      0      0.0   24.0      0.0
 11  ...    0.0  1.0   21169.0      1.0   5778      0      1.0   24.0      0.0
 12  ...    0.0  0.0   15116.0      0.0  29634      0      0.0   24.0      4.0
 13  ...    0.0  4.0  173168.0      1.0   1889      1      0.0   24.0      0.0
 14  ...    0.0  0.0   11989.0      0.0  29653      0      0.0   24.0      0.0
 15  ...    0.0  2.0   43424.0      1.0  56211      0      1.0   24.0      4.0
 16  ...    0.0  4.0    8831.0      1.0   5601      1      0.0   24.0      0.0
 17  ...    0.0  3.0  129092.0      1.0   4239      0      0.0   24.0      0.0
 18  ...    0.0  0.0    7081.0      0.0   9221      1      0.0   24.0      0.0
 19  ...    0.0  5.0  282765.0      1.0   4280      0      0.0   24.0      0.0
 20  ...    0.0  4.0    8475.0      1.0  29570      0      0.0   24.0      0.0
 21  ...    0.0  8.0       NaN      1.0  41011      0      0.0   24.0      4.0
 22  ...    0.0  0.0   28877.0      0.0   6826      0      0.0   24.0      0.0
 23  ...    0.0  0.0   27362.0      0.0   4280      0      0.0   24.0      4.0
 24  ...    0.0  0.0   13064.0      0.0  72293      0      0.0   24.0      4.0
 25  ...    2.0  1.0   51831.0      1.0  94544      0      1.0   24.0      4.0
 26  ...    0.0  1.0   20913.0      1.0  27651      0      0.0   24.0      4.0
 27  ...    2.0  0.0   32263.0      0.0  56409      0      0.0   24.0      4.0
 28  ...    2.0  2.0   75464.0      1.0   5934      1      0.0   24.0      0.0
 29  ...    0.0  4.0   77249.0      1.0  72252      1      0.0   24.0      0.0
 30  ...    0.0  2.0       NaN      1.0  V3001      1      0.0   24.0      0.0
 31  ...    0.0  1.0   15661.0      1.0   7336      0      1.0   24.0      4.0
 32  ...    0.0  3.0  154936.0      1.0  71527      1      0.0   24.0      0.0
 33  ...    0.0  0.0   29415.0      0.0    486      0      0.0   24.0      0.0
 34  ...    0.0  1.0   44868.0      1.0  71516      1      0.0   24.0      0.0
 35  ...    0.0  2.0    2389.0      1.0   2989      0      0.0   25.0      0.0
 36  ...    0.0  1.0   38421.0      1.0  11284      0      0.0   24.0      4.0
 37  ...    0.0  1.0   16017.0      1.0   5849      0      0.0   24.0      4.0
 38  ...    0.0  1.0   36886.0      1.0  27651      1      0.0   24.0      0.0
 39  ...    2.0  3.0   42995.0      1.0   8220      0      1.0   24.0      4.0
 40  ...    0.0  4.0   56762.0      1.0  44422      0      0.0   24.0      0.0
 41  ...    0.0  0.0   17495.0      0.0   7197      0      0.0   24.0      4.0
 42  ...    0.0  2.0   26713.0      1.0   5691      0      0.0   24.0      4.0
 43  ...    0.0  8.0   72646.0      1.0   3330      0      0.0   24.0      4.0
 44  ...    0.0  1.0   40286.0      1.0  72610      1      0.0   24.0      0.0
 45  ...    0.0  0.0   17327.0      0.0    845      0      1.0   24.0      4.0
 46  ...    0.0  0.0   19263.0      0.0   5070      0      1.0   24.0      4.0
 47  ...    0.0  3.0   46388.0      1.0  57420      0      1.0   24.0      4.0
 48  ...    0.0  0.0   32310.0      0.0   5601      0      1.0   24.0      4.0
 49  ...    0.0  2.0   71902.0      1.0  99666      1      0.0   24.0      0.0
 50  ...    0.0  0.0    2169.0      0.0  V3001      0      0.0   25.0      0.0

     COUNT(*)
 0         54
 1        111
 2         92
 3         78
 4        133
 5         99
 6          2
 7         45
 8         10
 9       7137
 10      1511
 11       568
 12       990
 13         9
 14         8
 15      1728
 16       644
 17       506
 18        32
 19      5005
 20      1226
 21        30
 22       169
 23       465
 24         4
 25         7
 26    303731
 27     61131
 28     18893
 29        73
 30         4
 31       688
 32         2
 33      2012
 34       828
 35       625
 36        26
 37      6134
 38         2
 39      1506
 40        37
 41       232
 42       502
 43         2
 44         8
 45         4
 46    373222
 47     76895
 48     23450
 49        75
 50         6

 [51 rows x 32 columns],
 'query_desc': {'type': 'single_agg',
  'sql': 'SELECT *,COUNT(*) FROM sample_r_b JOIN sample_r_l ON sample_r_b.PNUM_R = sample_r_l.PNUM_R GROUP BY sample_r_b.Homeless, sample_r_b.FEMALE, sample_r_b.PL_CBSA, sample_r_b.HOSPBRTH, sample_r_b.PL_RUCC2, sample_r_b.PL_UR_CA',
  'n_rows': 51,
  'n_cols': 32}}

In [11]:
self.make_twin_agg_query('sample_s_b','sample_s_l')

{'query_real':        PNUM_R   AGE DIED DNR FEMALE HOSPBRTH Homeless HISPANIC NEOMAT PL_CBSA  \
 0        5471  60.0    0   0      1        0        0        2      0    None
 1        6407  43.0    0   0      1        0        0        2      0       2
 2     2984885  44.0    0   0      0        0        0        2      0       2
 3         183  50.0    0   0      1        0        0        2      0       2
 4       13024  77.0    0   0      0        0        0        2      0       2
 ..        ...   ...  ...  ..    ...      ...      ...      ...    ...     ...
 181   4668156  68.0    0   0      0        0        0        2      0       0
 182   1518659  39.0    0   0      0        0        0        2      0       0
 183  14121079  56.0    0   0      0        0        0        2      0       0
 184  14155990   0.0    0   0      1        1        0        1      2       2
 185   3387011   0.0    0   0      1        1        0        2      2       2

      ... NECODE   NPR     TOTCHG PROCTYPE    DX1 ASCHED AWEEKEND DRGVER  \
 0    ...    0.0   1.0    15661.0      1.0   7336      0      1.0   24.0
 1    ...    0.0   0.0     4794.0      0.0  29643      0      0.0   24.0
 2    ...    0.0   3.0     5112.0      1.0  29623      0      0.0   24.0
 3    ...    0.0   0.0    69710.0      0.0  49322      0      0.0   24.0
 4    ...    0.0   0.0    15149.0      0.0  41401      0      1.0   24.0
 ..   ...    ...   ...        ...      ...    ...    ...      ...    ...
 181  ...    0.0   6.0   442270.0      1.0  57420      0      0.0   24.0
 182  ...    0.0   5.0    33430.0      1.0  20192      1      0.0   24.0
 183  ...    0.0   7.0    68516.0      1.0  41401      0      0.0   24.0
 184  ...    0.0  11.0  1445365.0      1.0  V3101      0      1.0   25.0
 185  ...    0.0   0.0     2169.0      0.0  V3001      0      0.0   25.0

      HCUP_ED  COUNT(*)
 0        4.0      1732
 1        4.0      2348
 2        0.0        21
 3        4.0    168993
 4        4.0      3072
 ..       ...       ...
 181      4.0        14
 182      0.0         5
 183      4.0         2
 184      0.0         2
 185      0.0         8

 [186 rows x 32 columns],
 'query_syn':          PNUM_R   AGE DIED  DNR FEMALE HOSPBRTH Homeless HISPANIC NEOMAT  \
 0     5870720.0  33.0  0.0  0.0    1.0      0.0      0.0      2.0    0.0
 1    14455346.0  63.0  0.0  0.0    1.0      0.0      0.0      2.0    0.0
 2    14062451.0  81.0  0.0  0.0    0.0      0.0      0.0      2.0    0.0
 3     8253690.0  74.0  0.0  0.0    1.0      0.0      0.0      2.0    0.0
 4    14248771.0  66.0  0.0  0.0    1.0      0.0      0.0      2.0    0.0
 ..          ...   ...  ...  ...    ...      ...      ...      ...    ...
 181   7270066.0  57.0  0.0  0.0    0.0      0.0      0.0      2.0    0.0
 182   1518659.0  39.0  0.0  0.0    0.0      0.0      0.0      2.0    0.0
 183  14121079.0  56.0  0.0  0.0    0.0      0.0      0.0      2.0    0.0
 184  14155990.0   0.0  0.0  0.0    1.0      1.0      0.0      1.0    2.0
 185  14359054.0   0.0  0.0  0.0    1.0      1.0      0.0      2.0    2.0

     PL_CBSA  ... NECODE   NPR     TOTCHG PROCTYPE    DX1 ASCHED AWEEKEND  \
 0      None  ...    0.0   2.0    18472.0      1.0   5951    1.0      0.0
 1       2.0  ...    0.0   1.0    13660.0      1.0  41071    0.0      0.0
 2       2.0  ...    0.0   0.0   164569.0      0.0    486    0.0      1.0
 3       2.0  ...    0.0   2.0        NaN      1.0   6271    1.0      0.0
 4       2.0  ...    3.0   3.0   105279.0      1.0  56211    0.0      0.0
 ..      ...  ...    ...   ...        ...      ...    ...    ...      ...
 181     0.0  ...    0.0   3.0    90586.0      1.0  71535    1.0      0.0
 182     0.0  ...    0.0   5.0    33430.0      1.0  20192    1.0      0.0
 183     0.0  ...    0.0   7.0    68516.0      1.0  41401    0.0      0.0
 184     2.0  ...    0.0  11.0  1445365.0      1.0  V3101    0.0      1.0
 185     2.0  ...    0.0   0.0     7273.0      0.0  V3101    0.0      0.0

     DRGVER  HCUP_ED  COUNT(*)
 0     24.0      0.0      1732
 1     24.0      4.0      2348
 2     24.0      4.0        21
 3     25.0      0.0    168993
 4     24.0      4.0      3072
 ..     ...      ...       ...
 181   24.0      0.0        14
 182   24.0      0.0         5
 183   24.0      4.0         2
 184   25.0      0.0         2
 185   25.0      0.0         8

 [186 rows x 32 columns],
 'query_desc': {'type': 'twin_agg',
  'sql_real': 'SELECT *,COUNT(*) FROM sample_r_b JOIN sample_r_l ON sample_r_b.PNUM_R = sample_r_l.PNUM_R GROUP BY sample_r_b.HOSPBRTH, sample_r_b.PL_UR_CA, sample_r_b.PL_UIC20, sample_r_b.PL_RUCC2, sample_r_b.MEDINCST, sample_r_b.PL_RUCA4',
  'n_cols_real': 32,
  'n_rows_real': 186,
  'sql_syn': 'SELECT *,COUNT(*) FROM sample_s_b JOIN sample_s_l ON sample_s_b.PNUM_R = sample_s_l.PNUM_R GROUP BY sample_s_b.HOSPBRTH, sample_s_b.PL_UR_CA, sample_s_b.PL_UIC20, sample_s_b.PL_RUCC2, sample_s_b.MEDINCST, sample_s_b.PL_RUCA4',
  'n_cols_syn': 32,
  'n_rows_syn': 186}}

In [13]:
self.make_single_agg_query_w_aggfntn()

{'query':           PNUM_R   AGE DIED DNR FEMALE HOSPBRTH Homeless HISPANIC NEOMAT  \
 0       10044368  47.0    0   0      0        0        0     None      0
 1       10044368  47.0    0   0      0        0        0     None      0
 2        1018764  52.0    0   0      1        0        0        2      0
 3        1018764  52.0    0   0      1        0        0        2      0
 4       10235227  52.0    0   0      1        0        0        2      0
 ...          ...   ...  ...  ..    ...      ...      ...      ...    ...
 457222   9963822  91.0    0   0      1        0        0        2      0
 457223     99676  77.0    0   0      0        0        0        2      0
 457224     99676  77.0    0   0      0        0        0        2      0
 457225   9981903  17.0    0   0      1        0        0        2      1
 457226   9982950  45.0    0   0      1        0        0        2      0

        PL_CBSA  ...   NPR    TOTCHG PROCTYPE    DX1 ASCHED AWEEKEND DRGVER  \
 0         None  ...   2.0  151332.0      1.0   5849      0      0.0   24.0
 1         None  ...   0.0  546301.0      0.0  51883      1      0.0   24.0
 2         None  ...   3.0   13554.0      1.0   4240      0      0.0   24.0
 3         None  ...   3.0   44386.0      1.0  42789      1      0.0   24.0
 4         None  ...   0.0   13244.0      0.0  29532      0      0.0   24.0
 ...        ...  ...   ...       ...      ...    ...    ...      ...    ...
 457222       0  ...   1.0   69634.0      1.0   5849      0      0.0   24.0
 457223       0  ...   0.0   41494.0      0.0  41071      0      0.0   24.0
 457224       0  ...  11.0   90887.0      1.0  41402      1      0.0   25.0
 457225       0  ...   1.0    6494.0      1.0  65453      0      0.0   24.0
 457226       0  ...   0.0   10271.0      0.0  99859      1      0.0   24.0

        HCUP_ED  COUNT(*)  MIN(sample_r_l.PROCTYPE)
 0          0.0         2                       1.0
 1          0.0         2                       0.0
 2          4.0         1                       1.0
 3          0.0         1                       1.0
 4          0.0         2                       0.0
 ...        ...       ...                       ...
 457222     4.0         3                       1.0
 457223     0.0         1                       0.0
 457224     0.0         1                       1.0
 457225     0.0         3                       1.0
 457226     0.0         2                       0.0

 [457227 rows x 33 columns],
 'query_desc': {'type': 'single_agg',
  'sql': 'SELECT *,COUNT(*), MIN(sample_r_l.PROCTYPE) FROM sample_r_b JOIN sample_r_l ON sample_r_b.PNUM_R = sample_r_l.PNUM_R GROUP BY sample_r_b.PL_UR_CA, sample_r_b.PNUM_R, sample_r_b.PL_RUCC2, sample_r_b.PL_UIC20, sample_r_b.HISPANIC, sample_r_b.NEOMAT, sample_r_b.RACE, sample_r_l.ASCHED, sample_r_b.PL_NCHS2, sample_r_b.FEMALE, sample_r_b.HOSPBRTH, sample_r_b.Homeless, sample_r_b.MEDINCST, sample_r_b.PL_CBSA, sample_r_b.DIED',
  'n_rows': 457227,
  'n_cols': 33}}

In [16]:
self.make_twin_agg_query_w_aggfntn('sample_s_b','sample_s_l')

{'query_real':           PNUM_R   AGE  DIED   DNR FEMALE HOSPBRTH Homeless HISPANIC NEOMAT  \
 0        7452218  47.0  None  None   None        0        0     None      0
 1        7452218  47.0  None  None   None        0        0     None      0
 2       12877535   NaN     0     0   None        0        0     None      0
 3       13412288  26.0     0     0   None        0        0     None      0
 4        1362038  22.0     0     0   None        0        0     None      0
 ...          ...   ...   ...   ...    ...      ...      ...      ...    ...
 457222  13892415   0.0     0     0      0        0        0        2      0
 457223  11919360  42.0     0     0      1        0        0        2      0
 457224   4812735  88.0     0     0      1        0        0        2      0
 457225   6207339  27.0     0     0      1        0        0        2      1
 457226   6207339  27.0     0     0      1        0        0        2      1

        PL_CBSA  ...  NPR   TOTCHG PROCTYPE    DX1 ASCHED AWEEKEND DRGVER  \
 0         None  ...  0.0      NaN      0.0  68100   None      0.0   24.0
 1         None  ...  4.0  41167.0      1.0  71516      1      0.0   24.0
 2         None  ...  0.0   3475.0      0.0   5128      0      0.0   24.0
 3         None  ...  1.0  13850.0      1.0  29643      0      1.0   24.0
 4         None  ...  0.0  59649.0      0.0  34550      0      0.0   24.0
 ...        ...  ...  ...      ...      ...    ...    ...      ...    ...
 457222       2  ...  0.0   7920.0      0.0  46611      0      0.0   24.0
 457223       2  ...  0.0  12572.0      0.0  55221      0      1.0   24.0
 457224       2  ...  2.0  91727.0      1.0   2860      0      1.0   24.0
 457225       2  ...  1.0  41649.0      1.0  64403      0      0.0   24.0
 457226       2  ...  4.0  28528.0      1.0  65261      1      0.0   24.0

        HCUP_ED  COUNT(*)  SUM(sample_r_l.HCUP_ED)
 0          0.0         1                      0.0
 1          0.0         1                      0.0
 2          4.0         2                      4.0
 3          0.0         4                      0.0
 4          4.0         2                      8.0
 ...        ...       ...                      ...
 457222     4.0         2                      8.0
 457223     4.0         2                      8.0
 457224     0.0         2                      0.0
 457225     0.0         1                      0.0
 457226     0.0         1                      0.0

 [457227 rows x 33 columns],
 'query_syn':             PNUM_R   AGE  DIED   DNR FEMALE HOSPBRTH Homeless HISPANIC NEOMAT  \
 0        7452218.0  47.0  None  None   None      0.0      0.0     None    0.0
 1        7452218.0  47.0  None  None   None      0.0      0.0     None    0.0
 2       12877535.0   NaN   0.0   0.0   None      0.0      0.0     None    0.0
 3       13412288.0  26.0   0.0   0.0   None      0.0      0.0     None    0.0
 4        1362038.0  22.0   0.0   0.0   None      0.0      0.0     None    0.0
 ...            ...   ...   ...   ...    ...      ...      ...      ...    ...
 457222  13892415.0   0.0   0.0   0.0    0.0      0.0      0.0      2.0    0.0
 457223  11919360.0  42.0   0.0   0.0    1.0      0.0      0.0      2.0    0.0
 457224   4812735.0  88.0   0.0   0.0    1.0      0.0      0.0      2.0    0.0
 457225   6207339.0  27.0   0.0   0.0    1.0      0.0      0.0      2.0    1.0
 457226   6207339.0  27.0   0.0   0.0    1.0      0.0      0.0      2.0    1.0

        PL_CBSA  ...  NPR   TOTCHG PROCTYPE    DX1 ASCHED AWEEKEND DRGVER  \
 0         None  ...  0.0      NaN      0.0  68100   None      0.0   24.0
 1         None  ...  4.0  41167.0      1.0  71516    1.0      0.0   24.0
 2         None  ...  0.0   3475.0      0.0   5128    0.0      0.0   24.0
 3         None  ...  1.0  13850.0      1.0  29643    0.0      1.0   24.0
 4         None  ...  0.0  59649.0      0.0  34550    0.0      0.0   24.0
 ...        ...  ...  ...      ...      ...    ...    ...      ...    ...
 457222     2.0  ...  0.0   7920.0      0.0  46611    0.0      0.0   24.0
 457223     2.0  ...  0.0  12572.0      0.0  55221    0.0      1.0   24.0
 457224     2.0  ...  2.0  91727.0      1.0   2860    0.0      1.0   24.0
 457225     2.0  ...  1.0  41649.0      1.0  64403    0.0      0.0   24.0
 457226     2.0  ...  4.0  28528.0      1.0  65261    1.0      0.0   24.0

        HCUP_ED  COUNT(*)  SUM(sample_s_l.HCUP_ED)
 0          0.0         1                      0.0
 1          0.0         1                      0.0
 2          4.0         2                      4.0
 3          0.0         4                      0.0
 4          4.0         2                      8.0
 ...        ...       ...                      ...
 457222     4.0         2                      8.0
 457223     4.0         2                      8.0
 457224     0.0         2                      0.0
 457225     0.0         1                      0.0
 457226     0.0         1                      0.0

 [457227 rows x 33 columns],
 'query_desc': {'type': 'twin_agg',
  'sql_real': 'SELECT *,COUNT(*), SUM(sample_r_l.HCUP_ED) FROM sample_r_b JOIN sample_r_l ON sample_r_b.PNUM_R = sample_r_l.PNUM_R GROUP BY sample_r_b.RACE, sample_r_b.DIED, sample_r_b.PL_RUCA4, sample_r_b.PL_CBSA, sample_r_b.Homeless, sample_r_b.FEMALE, sample_r_l.ASCHED, sample_r_b.PNUM_R, sample_r_b.HOSPBRTH, sample_r_b.PL_RUCC2, sample_r_b.PL_NCHS2',
  'n_cols_real': 33,
  'n_rows_real': 457227,
  'sql_syn': 'SELECT *,COUNT(*), SUM(sample_s_l.HCUP_ED) FROM sample_s_b JOIN sample_s_l ON sample_s_b.PNUM_R = sample_s_l.PNUM_R GROUP BY sample_s_b.RACE, sample_s_b.DIED, sample_s_b.PL_RUCA4, sample_s_b.PL_CBSA, sample_s_b.Homeless, sample_s_b.FEMALE, sample_s_l.ASCHED, sample_s_b.PNUM_R, sample_s_b.HOSPBRTH, sample_s_b.PL_RUCC2, sample_s_b.PL_NCHS2',
  'n_cols_syn': 33,
  'n_rows_syn': 457227}}