In [1]:
import sys
sys.path.append('/home/samer/projects/fuzzy_sql/src') #This will enable reading the modules
from pathlib import Path
from fuzzy_sql.fuzzy_sql import *
from fuzzy_sql.long_query import LONG_QUERY

In [2]:
#set paths
root_dir=Path('/home/samer/projects/fuzzy_sql')
real_dir=os.path.join(root_dir,'data/longitudinal/ready/real')
meta_dir=os.path.join(root_dir,'data/longitudinal/ready/metadata')
syn_dir=os.path.join(root_dir,'data/longitudinal/ready/synthetic')
report_dir="to_add"

In [3]:
# Construct longitudinal query object based on the real data

rp_path=real_dir+"/b_sample.csv" #real parent (baseline) path 
rc_path=real_dir+"/l_sample.csv" #real child path
meta_path=meta_dir+"/sample.json" #metdata path

rp=load_csv(rp_path) 
rc=load_csv(rc_path) 
with open(meta_path) as f:
    meta=json.load(f) #metadata for the data 
rp=assign_dtype(rp, meta['parent'])
rc=assign_dtype(rc, meta['child'])


conn = sqlite3.connect('fuzzy_sql.db')
make_table('sample_r_b', rp, conn)
make_table('sample_r_l', rc, conn)


DFLT_PARAMS={
    'AGG_OPS':{'AVG':0.5, 'SUM':0.3, 'MAX':0.1, 'MIN':0.1 },
    'LOGIC_OPS':{'AND':0.9,'OR':0.1},
    'NOT_STATE':{'0':0.8, '1':0.2},
    'CAT_OPS':{'=':0.25, '<>':0.25, 'LIKE':0.15, 'IN':0.15, 'NOT LIKE':0.1, 'NOT IN':0.1},
    'CNT_OPS':{'=':0.2, '>':0.1, '<':0.1, '>=':0.1, '<=':0.1, '<>':0.1, 'BETWEEN':0.2, 'NOT BETWEEN':0.1},
    'DT_OPS':{'=':0.2, '>':0.1, '<':0.1, '>=':0, '<=':0, '<>':0.1, 'BETWEEN':0.2, 'IN':0.1, 'NOT BETWEEN':0.1, 'NOT IN':0.1},
    'LESS_GRP_VARS': False, # enforce bias in random queries toward smaller number of groupby vars. Default is no bias (i.e. uniform sampling)
    'LESS_CMP_VARS':False, # enforce bias in random queries toward small number of  comparison terms. Default is no bias (i.e. uniform sampling)
    'JOIN_CNDTN':{'WHERE':0.5, 'AND':0.5} #Use WHERE or AND with JOIN CLAUSE
}
self=LONG_QUERY(conn,'sample_r_b','sample_r_l', meta,DFLT_PARAMS)

Table sample_r_b already exists in the database
Table sample_r_l already exists in the database

In [4]:
# # Generate Single queries 
# rnd_query=self.make_single_agg_query()
# rnd_query=self.make_single_agg_query_w_aggfntn()
# rnd_query=self.make_single_fltr_query()
# rnd_query=self.make_single_aggfltr_query()
# rnd_query=self.make_single_aggfltr_query_w_aggfntn()

In [5]:

# Generate Random queries
many_syn=[] #this is a list of holding the random queries against each available version of the synthetic datasets
for i in range(1,4):
    sp_path=syn_dir+f"/b_sample_syn_0{i}.csv" #synthetic parent (baseline) path 
    sc_path=syn_dir+f"/l_sample_syn_0{i}.csv" #synthetic child (longitudinal) path 

    sp=load_csv(sp_path)  
    sc=load_csv(sc_path) 

    sp=assign_dtype(sp, meta['parent'])
    sc=assign_dtype(sc, meta['child'])

    # import real data into database
    make_table(f'sample_s_b_0{i}', sp, conn)
    make_table(f'sample_s_l_0{i}', sc, conn)


    # mltpl_queries=self.make_mltpl_twin_agg_query(3,f'sample_s_b_0{i}',f'sample_s_l_0{i}')
    # mltpl_queries=self.make_mltpl_twin_agg_query_w_aggfntn(3,f'sample_s_b_0{i}',f'sample_s_l_0{i}')
    # mltpl_queries=self.make_mltpl_twin_fltr_query(3,f'sample_s_b_0{i}',f'sample_s_l_0{i}')
    mltpl_queries=self.make_mltpl_twin_aggfltr_query(10,f'sample_s_b_0{i}',f'sample_s_l_0{i}') #this is a list of all unmatched random queries 
    # mltpl_queries=self.make_mltpl_twin_aggfltr_query_w_aggfntn(3,f'sample_s_b_0{i}',f'sample_s_l_0{i}')
    mltpl_scored_queries=self.calc_mltpl_dist_scores(mltpl_queries) #this is a list of all random matched and scored queries 
    many_syn.append(mltpl_scored_queries)

Table sample_s_b_01 already exists in the database
Table sample_s_l_01 already exists in the database
SELECT sample_r_b.PL_UIC20, sample_r_b.HOSPBRTH, sample_r_b.PL_RUCC2, sample_r_b.Homeless, sample_r_b.HISPANIC, sample_r_b.DIED, sample_r_b.PL_NCHS2, sample_r_b.PL_RUCA4, sample_r_l.DX1 ,COUNT(*) FROM sample_r_b JOIN sample_r_l ON sample_r_b.PNUM_R = sample_r_l.PNUM_R WHERE ( NOT sample_r_l.HCUP_ED NOT BETWEEN 4.0 AND 4.0  AND  sample_r_b.HOSPBRTH IN ('0', '0', '0', '0', '0')  OR  sample_r_b.HISPANIC <> '1'  AND  sample_r_l.DX1 NOT IN ('V5789', '3383', '85226', '1983', '28803')  AND  NOT sample_r_b.PL_UIC20 <> '1'  AND  sample_r_l.AWEEKEND NOT BETWEEN 1.0 AND 1.0  AND  sample_r_l.NDX <> 11.0  AND  NOT sample_r_b.PL_RUCA4 IN ('1', '1', '1', '1', '1')  AND  sample_r_b.PL_RUCC2 IN ('1', '1', '2', '1', '1')  OR  sample_r_l.MDC NOT BETWEEN 5.0 AND 5.0  AND  sample_r_l.LOS < 1.0  AND  NOT sample_r_b.RACE LIKE '4'  AND  NOT sample_r_b.PL_UR_CA NOT IN ('1', '3', '2', '2', '1')  AND  NOT sample_r_b.PL_NCHS2 = '2'  AND  sample_r_b.FEMALE <> '1' ) GROUP BY sample_r_b.PL_UIC20, sample_r_b.HOSPBRTH, sample_r_b.PL_RUCC2, sample_r_b.Homeless, sample_r_b.HISPANIC, sample_r_b.DIED, sample_r_b.PL_NCHS2, sample_r_b.PL_RUCA4, sample_r_l.DX1

Generated Random Aggregate Filter Query - 0
SELECT sample_r_b.PL_CBSA, sample_r_b.PL_NCHS2, sample_r_b.PL_UIC20, sample_r_b.RACE, sample_r_l.ASCHED, sample_r_b.PL_RUCC2, sample_r_b.PL_RUCA4, sample_r_b.DIED, sample_r_b.HISPANIC, sample_r_b.NEOMAT, sample_r_b.DNR, sample_r_b.PL_UR_CA, sample_r_b.Homeless, sample_r_l.DX1, sample_r_b.MEDINCST ,COUNT(*) FROM sample_r_b JOIN sample_r_l ON sample_r_b.PNUM_R = sample_r_l.PNUM_R AND ( sample_r_b.PL_CBSA <> '2'  AND  sample_r_b.FEMALE = '0'  AND  sample_r_l.AWEEKEND <= 1.0  AND  sample_r_b.MEDINCST <> '3'  OR  NOT sample_r_l.DRGVER <> 24.0  AND  sample_r_b.PL_UIC20 = '1'  OR  NOT sample_r_l.NECODE BETWEEN 2.0 AND 2.0  AND  sample_r_l.TOTCHG BETWEEN 20338.0 AND 28477.0  AND  sample_r_b.AGE < 78.0  AND  NOT sample_r_b.PL_RUCC2 <> '1'  AND  sample_r_b.PL_UR_CA IN ('1', '1', '1', '1', '2')  AND  sample_r_b.PL_RUCA4 IN ('1', '1', '1', '1', '1')  AND  NOT sample_r_l.NDX < 8.0  AND  sample_r_l.HCUP_ED BETWEEN 4.0 AND 4.0  AND  sample_r_b.HISPANIC NOT IN ('2', '2', '2', '1', '2')  AND  sample_r_b.PL_NCHS2 <> '1'  AND  sample_r_b.DIED <> '0'  AND  sample_r_b.HOSPBRTH = '0'  AND  NOT sample_r_b.RACE <> '1'  AND  sample_r_l.MDC = 11.0  AND  NOT sample_r_l.DX1 LIKE '49121'  AND  sample_r_l.NPR NOT BETWEEN 9.0 AND 9.0 ) GROUP BY sample_r_b.PL_CBSA, sample_r_b.PL_NCHS2, sample_r_b.PL_UIC20, sample_r_b.RACE, sample_r_l.ASCHED, sample_r_b.PL_RUCC2, sample_r_b.PL_RUCA4, sample_r_b.DIED, sample_r_b.HISPANIC, sample_r_b.NEOMAT, sample_r_b.DNR, sample_r_b.PL_UR_CA, sample_r_b.Homeless, sample_r_l.DX1, sample_r_b.MEDINCST

Generated Random Aggregate Filter Query - 1
SELECT sample_r_b.HOSPBRTH, sample_r_b.PL_UR_CA, sample_r_b.FEMALE, sample_r_b.MEDINCST, sample_r_b.PL_NCHS2 ,COUNT(*) FROM sample_r_b JOIN sample_r_l ON sample_r_b.PNUM_R = sample_r_l.PNUM_R AND ( sample_r_b.Homeless <> '0'  AND  sample_r_l.Date <> 2.0  AND  sample_r_l.DRGVER > 24.0  AND  NOT sample_r_l.NDX >= 6.0  AND  sample_r_b.PL_NCHS2 NOT LIKE '1'  AND  sample_r_l.NPR = 1.0  AND  sample_r_l.AWEEKEND >= 1.0  AND  NOT sample_r_b.PL_RUCC2 = '1'  AND  sample_r_b.PL_CBSA <> '2'  AND  sample_r_b.MEDINCST <> '1'  AND  sample_r_b.PL_UR_CA <> '1'  AND  sample_r_l.DX1 NOT IN ('V5811', '6110', 'V5789', 'V571', '29620')  OR  sample_r_b.HISPANIC NOT IN ('1', '1', '1', '2', '2')  AND  NOT sample_r_l.PROCTYPE = 1.0  AND  sample_r_l.HCUP_ED BETWEEN 4.0 AND 4.0  AND  sample_r_b.AGE <= 61.0  AND  NOT sample_r_l.TOTCHG = 51241.0  AND  sample_r_b.HOSPBRTH IN ('0', '0', '0', '0', '0')  AND  sample_r_l.LOS BETWEEN 2.0 AND 6.0  AND  sample_r_l.NECODE <= 3.0  AND  sample_r_l.MDC = 4.0  OR  sample_r_b.DNR LIKE '0'  AND  NOT sample_r_l.ASCHED IN ('0', '0', '1', '1', '0')  AND  NOT sample_r_b.RACE NOT IN ('1', '3', '1', '1', '1')  AND  sample_r_b.PL_RUCA4 = '1'  AND  NOT sample_r_b.PL_UIC20 NOT IN ('1', '1', '1', '2', '1')  AND  sample_r_b.NEOMAT NOT LIKE '0' ) GROUP BY sample_r_b.HOSPBRTH, sample_r_b.PL_UR_CA, sample_r_b.FEMALE, sample_r_b.MEDINCST, sample_r_b.PL_NCHS2

Generated Random Aggregate Filter Query - 2
SELECT sample_r_b.HISPANIC, sample_r_b.FEMALE ,COUNT(*) FROM sample_r_b JOIN sample_r_l ON sample_r_b.PNUM_R = sample_r_l.PNUM_R AND ( NOT sample_r_b.PL_RUCA4 LIKE '1'  AND  sample_r_b.DIED = '0'  AND  NOT sample_r_l.PROCTYPE > 1.0  AND  sample_r_b.PL_CBSA = '2'  AND  sample_r_l.Date = 5.0  OR  NOT sample_r_b.PL_NCHS2 <> '1'  AND  sample_r_l.DRGVER NOT BETWEEN 24.0 AND 24.0  AND  sample_r_b.NEOMAT = '0'  AND  sample_r_b.PL_UIC20 <> '2'  AND  sample_r_l.MDC < 23.0  AND  sample_r_l.ASCHED <> '0'  AND  sample_r_l.TOTCHG = 129029.0  AND  sample_r_b.HISPANIC = '2'  AND  NOT sample_r_l.HCUP_ED NOT BETWEEN 4.0 AND 4.0  AND  sample_r_b.PL_UR_CA = '1'  AND  sample_r_b.FEMALE NOT LIKE '0'  AND  sample_r_l.NDX <= 13.0  AND  sample_r_b.HOSPBRTH <> '0'  AND  NOT sample_r_b.AGE BETWEEN 22.0 AND 75.0  OR  NOT sample_r_b.DNR = '0'  OR  NOT sample_r_b.PL_RUCC2 IN ('1', '1', '1', '1', '1')  AND  sample_r_b.Homeless <> '0'  AND  sample_r_l.DX1 NOT IN ('V5789', '42781', '7071', '7827', '41041')  AND  sample_r_b.MEDINCST NOT IN ('2', '1', '1', '2', '1')  AND  sample_r_l.NECODE BETWEEN 2.0 AND 2.0 ) GROUP BY sample_r_b.HISPANIC, sample_r_b.FEMALE

Generated Random Aggregate Filter Query - 3
SELECT sample_r_b.PL_UIC20, sample_r_l.ASCHED, sample_r_b.FEMALE, sample_r_b.RACE, sample_r_b.PL_NCHS2, sample_r_b.HISPANIC, sample_r_b.Homeless, sample_r_b.PL_UR_CA, sample_r_b.DNR, sample_r_b.PL_RUCA4, sample_r_b.HOSPBRTH ,COUNT(*) FROM sample_r_b JOIN sample_r_l ON sample_r_b.PNUM_R = sample_r_l.PNUM_R WHERE ( sample_r_b.MEDINCST NOT IN ('1', '1', '2', '2', '4')  AND  sample_r_l.NDX <> 6.0  AND  NOT sample_r_b.PL_RUCC2 = '1'  OR  NOT sample_r_b.PL_NCHS2 NOT IN ('1', '1', '5', '1', '2')  OR  NOT sample_r_b.RACE = '1'  AND  NOT sample_r_l.PROCTYPE <> 1.0  AND  sample_r_l.AWEEKEND < 1.0  AND  sample_r_l.ASCHED = '1'  AND  sample_r_b.DIED <> '0'  AND  sample_r_l.HCUP_ED < 4.0  AND  sample_r_b.PL_UIC20 <> '1'  AND  sample_r_b.PL_RUCA4 IN ('1', '1', '1', '1', '3')  AND  sample_r_b.Homeless IN ('0', '0', '0', '0', '0')  OR  NOT sample_r_l.DX1 NOT LIKE '65421'  AND  sample_r_b.PL_UR_CA <> '1'  AND  NOT sample_r_b.PL_CBSA <> '2'  AND  sample_r_b.DNR = '0'  AND  NOT sample_r_l.NECODE BETWEEN 2.0 AND 2.0  AND  sample_r_l.TOTCHG <> 33997.0  AND  sample_r_l.NPR >= 4.0  AND  NOT sample_r_b.HOSPBRTH NOT IN ('0', '0', '0', '0', '0')  AND  sample_r_b.AGE <> 80.0  AND  NOT sample_r_l.DRGVER > 24.0  AND  sample_r_l.LOS < 1.0  AND  sample_r_b.NEOMAT NOT LIKE '0'  AND  sample_r_l.Date BETWEEN 5.0 AND 7.0  AND  sample_r_b.FEMALE = '1'  AND  sample_r_l.MDC = 5.0  AND  sample_r_b.HISPANIC = '2' ) GROUP BY sample_r_b.PL_UIC20, sample_r_l.ASCHED, sample_r_b.FEMALE, sample_r_b.RACE, sample_r_b.PL_NCHS2, sample_r_b.HISPANIC, sample_r_b.Homeless, sample_r_b.PL_UR_CA, sample_r_b.DNR, sample_r_b.PL_RUCA4, sample_r_b.HOSPBRTH

Generated Random Aggregate Filter Query - 4
SELECT sample_r_b.PL_UR_CA, sample_r_b.PL_NCHS2, sample_r_b.MEDINCST, sample_r_l.DX1, sample_r_b.PL_CBSA, sample_r_b.Homeless, sample_r_b.PL_UIC20 ,COUNT(*) FROM sample_r_b JOIN sample_r_l ON sample_r_b.PNUM_R = sample_r_l.PNUM_R WHERE ( sample_r_l.DRGVER = 24.0  OR  sample_r_l.ASCHED = '0'  AND  sample_r_l.MDC <= 10.0  AND  sample_r_b.DNR LIKE '0'  AND  NOT sample_r_b.PL_RUCA4 <> '1'  AND  sample_r_b.Homeless NOT IN ('0', '0', '0', '0', '0')  AND  sample_r_b.RACE NOT IN ('1', '1', '1', '3', '2')  AND  sample_r_b.PL_CBSA <> '2'  AND  sample_r_b.AGE >= 87.0  AND  sample_r_b.DIED = '0'  AND  sample_r_b.NEOMAT = '0'  AND  sample_r_l.LOS = 2.0  AND  sample_r_l.Date <> 12.0  AND  NOT sample_r_b.HISPANIC IN ('2', '2', '2', '2', '2') ) GROUP BY sample_r_b.PL_UR_CA, sample_r_b.PL_NCHS2, sample_r_b.MEDINCST, sample_r_l.DX1, sample_r_b.PL_CBSA, sample_r_b.Homeless, sample_r_b.PL_UIC20

Generated Random Aggregate Filter Query - 5
SELECT sample_r_b.MEDINCST, sample_r_b.FEMALE, sample_r_b.RACE, sample_r_b.HISPANIC, sample_r_b.PL_UIC20, sample_r_l.DX1, sample_r_b.NEOMAT, sample_r_b.PL_NCHS2, sample_r_b.Homeless, sample_r_b.PL_CBSA, sample_r_b.HOSPBRTH, sample_r_l.ASCHED, sample_r_b.DIED, sample_r_b.PL_RUCC2, sample_r_b.PL_UR_CA, sample_r_b.PL_RUCA4 ,COUNT(*) FROM sample_r_b JOIN sample_r_l ON sample_r_b.PNUM_R = sample_r_l.PNUM_R AND ( sample_r_l.LOS NOT BETWEEN 2.0 AND 2.0  AND  sample_r_b.MEDINCST = '1'  AND  NOT sample_r_b.AGE NOT BETWEEN 82.0 AND 94.0 ) GROUP BY sample_r_b.MEDINCST, sample_r_b.FEMALE, sample_r_b.RACE, sample_r_b.HISPANIC, sample_r_b.PL_UIC20, sample_r_l.DX1, sample_r_b.NEOMAT, sample_r_b.PL_NCHS2, sample_r_b.Homeless, sample_r_b.PL_CBSA, sample_r_b.HOSPBRTH, sample_r_l.ASCHED, sample_r_b.DIED, sample_r_b.PL_RUCC2, sample_r_b.PL_UR_CA, sample_r_b.PL_RUCA4

Generated Random Aggregate Filter Query - 6
SELECT sample_r_b.HISPANIC, sample_r_b.MEDINCST, sample_r_b.PL_NCHS2 ,COUNT(*) FROM sample_r_b JOIN sample_r_l ON sample_r_b.PNUM_R = sample_r_l.PNUM_R WHERE ( sample_r_l.NECODE = 2.0  OR  sample_r_b.PL_UIC20 LIKE '1'  AND  sample_r_b.PL_CBSA IN ('2', '2', '2', '2', '2')  AND  NOT sample_r_b.PL_UR_CA IN ('1', '2', '3', '1', '2')  AND  sample_r_b.FEMALE NOT LIKE '0'  AND  NOT sample_r_l.HCUP_ED <= 4.0  AND  sample_r_b.HISPANIC LIKE '1'  AND  sample_r_b.HOSPBRTH = '0'  AND  sample_r_l.LOS < 6.0  AND  sample_r_l.DRGVER > 25.0  AND  sample_r_b.PL_RUCC2 NOT IN ('1', '1', '1', '1', '1')  AND  sample_r_l.DX1 <> 'V5789'  AND  sample_r_b.PL_NCHS2 <> '1'  AND  sample_r_l.AWEEKEND > 1.0  AND  sample_r_l.TOTCHG BETWEEN 61672.0 AND 70333.0  AND  sample_r_b.AGE = 59.0  AND  sample_r_b.RACE NOT IN ('3', '1', '1', '2', '1')  AND  sample_r_l.PROCTYPE = 1.0  AND  sample_r_b.DNR NOT IN ('0', '0', '0', '0', '0')  OR  NOT sample_r_b.PL_RUCA4 LIKE '1' ) GROUP BY sample_r_b.HISPANIC, sample_r_b.MEDINCST, sample_r_b.PL_NCHS2

Generated Random Aggregate Filter Query - 7
SELECT sample_r_l.DX1, sample_r_b.PL_RUCA4, sample_r_b.NEOMAT, sample_r_b.PL_CBSA, sample_r_b.PL_UR_CA, sample_r_b.DIED, sample_r_l.ASCHED, sample_r_b.FEMALE, sample_r_b.RACE, sample_r_b.HOSPBRTH, sample_r_b.DNR, sample_r_b.HISPANIC ,COUNT(*) FROM sample_r_b JOIN sample_r_l ON sample_r_b.PNUM_R = sample_r_l.PNUM_R AND ( sample_r_l.NECODE = 2.0  AND  NOT sample_r_l.PROCTYPE >= 1.0  OR  sample_r_b.HOSPBRTH <> '0'  AND  sample_r_l.AWEEKEND = 1.0  AND  sample_r_b.MEDINCST = '4'  AND  sample_r_b.NEOMAT LIKE '0'  AND  sample_r_b.PL_CBSA NOT LIKE '2'  OR  NOT sample_r_b.DIED NOT LIKE '0'  AND  sample_r_b.Homeless NOT LIKE '0'  AND  NOT sample_r_b.RACE = '2'  AND  sample_r_b.PL_RUCA4 <> '1' ) GROUP BY sample_r_l.DX1, sample_r_b.PL_RUCA4, sample_r_b.NEOMAT, sample_r_b.PL_CBSA, sample_r_b.PL_UR_CA, sample_r_b.DIED, sample_r_l.ASCHED, sample_r_b.FEMALE, sample_r_b.RACE, sample_r_b.HOSPBRTH, sample_r_b.DNR, sample_r_b.HISPANIC

Generated Random Aggregate Filter Query - 8
SELECT sample_r_b.PL_RUCC2, sample_r_b.HISPANIC, sample_r_b.NEOMAT ,COUNT(*) FROM sample_r_b JOIN sample_r_l ON sample_r_b.PNUM_R = sample_r_l.PNUM_R WHERE ( NOT sample_r_b.RACE <> '1'  AND  sample_r_b.HISPANIC = '2'  AND  sample_r_l.DX1 = '6827'  AND  NOT sample_r_b.Homeless IN ('0', '0', '0', '0', '0')  AND  sample_r_b.HOSPBRTH <> '0'  AND  sample_r_l.PROCTYPE BETWEEN 1.0 AND 1.0  AND  sample_r_b.DNR NOT LIKE '0'  AND  sample_r_b.NEOMAT = '0'  AND  NOT sample_r_l.NECODE > 2.0  AND  sample_r_b.PL_UIC20 <> '1'  AND  sample_r_b.DIED = '0'  AND  NOT sample_r_l.NPR < 2.0  AND  NOT sample_r_b.AGE BETWEEN 59.0 AND 65.0  AND  sample_r_l.DRGVER <= 25.0  OR  sample_r_b.MEDINCST IN ('1', '2', '3', '2', '4')  AND  sample_r_b.PL_UR_CA IN ('1', '1', '1', '1', '1')  AND  sample_r_b.PL_RUCA4 <> '1'  AND  sample_r_b.PL_CBSA = '2'  AND  NOT sample_r_b.FEMALE = '1'  AND  sample_r_l.HCUP_ED <= 4.0  AND  sample_r_l.LOS <> 5.0  AND  sample_r_b.PL_NCHS2 LIKE '1'  AND  sample_r_l.AWEEKEND < 1.0  AND  NOT sample_r_l.TOTCHG <> 40949.0  AND  sample_r_l.ASCHED LIKE '0'  AND  NOT sample_r_b.PL_RUCC2 <> '2'  AND  sample_r_l.MDC <> 13.0  AND  NOT sample_r_l.NDX = 13.0 ) GROUP BY sample_r_b.PL_RUCC2, sample_r_b.HISPANIC, sample_r_b.NEOMAT

Generated Random Aggregate Filter Query - 9


Table sample_s_b_02 already exists in the database
Table sample_s_l_02 already exists in the database
SELECT sample_r_b.Homeless, sample_r_l.DX1, sample_r_b.HOSPBRTH, sample_r_b.PL_RUCA4, sample_r_b.PL_CBSA, sample_r_b.RACE ,COUNT(*) FROM sample_r_b JOIN sample_r_l ON sample_r_b.PNUM_R = sample_r_l.PNUM_R AND ( sample_r_l.DX1 = '29620'  AND  sample_r_b.FEMALE <> '0'  AND  sample_r_l.PROCTYPE < 1.0  AND  NOT sample_r_l.NDX BETWEEN 5.0 AND 12.0  AND  sample_r_l.ASCHED NOT IN ('0', '1', '0', '0', '0')  AND  sample_r_l.Date < 3.0  AND  sample_r_l.DRGVER <> 25.0  AND  sample_r_b.PL_NCHS2 NOT IN ('3', '1', '1', '1', '1')  AND  sample_r_l.NECODE NOT BETWEEN 2.0 AND 2.0 ) GROUP BY sample_r_b.Homeless, sample_r_l.DX1, sample_r_b.HOSPBRTH, sample_r_b.PL_RUCA4, sample_r_b.PL_CBSA, sample_r_b.RACE

Generated Random Aggregate Filter Query - 0
SELECT sample_r_b.PL_UR_CA, sample_r_b.PL_RUCA4, sample_r_b.HOSPBRTH, sample_r_b.DIED, sample_r_b.MEDINCST, sample_r_b.FEMALE, sample_r_l.ASCHED, sample_r_l.DX1, sample_r_b.PL_RUCC2, sample_r_b.PL_NCHS2, sample_r_b.DNR, sample_r_b.PL_UIC20, sample_r_b.PL_CBSA, sample_r_b.HISPANIC, sample_r_b.NEOMAT, sample_r_b.RACE ,COUNT(*) FROM sample_r_b JOIN sample_r_l ON sample_r_b.PNUM_R = sample_r_l.PNUM_R AND ( sample_r_l.LOS < 1.0  OR  sample_r_l.DRGVER < 24.0  AND  NOT sample_r_l.DX1 = '3811'  AND  NOT sample_r_b.HOSPBRTH = '0'  AND  sample_r_l.TOTCHG < 5846.0  AND  sample_r_b.FEMALE LIKE '0'  AND  NOT sample_r_l.NPR = 2.0  AND  NOT sample_r_b.HISPANIC = '2' ) GROUP BY sample_r_b.PL_UR_CA, sample_r_b.PL_RUCA4, sample_r_b.HOSPBRTH, sample_r_b.DIED, sample_r_b.MEDINCST, sample_r_b.FEMALE, sample_r_l.ASCHED, sample_r_l.DX1, sample_r_b.PL_RUCC2, sample_r_b.PL_NCHS2, sample_r_b.DNR, sample_r_b.PL_UIC20, sample_r_b.PL_CBSA, sample_r_b.HISPANIC, sample_r_b.NEOMAT, sample_r_b.RACE

Generated Random Aggregate Filter Query - 1
SELECT sample_r_b.HOSPBRTH ,COUNT(*) FROM sample_r_b JOIN sample_r_l ON sample_r_b.PNUM_R = sample_r_l.PNUM_R AND ( sample_r_l.DRGVER <> 24.0  AND  sample_r_b.HISPANIC IN ('1', '2', '2', '2', '2')  AND  NOT sample_r_b.HOSPBRTH = '0'  AND  sample_r_b.FEMALE NOT IN ('0', '0', '0', '1', '1')  AND  sample_r_l.TOTCHG <= 44350.0  AND  sample_r_l.PROCTYPE <> 1.0  AND  sample_r_l.LOS = 2.0 ) GROUP BY sample_r_b.HOSPBRTH

Generated Random Aggregate Filter Query - 2
SELECT sample_r_b.HISPANIC, sample_r_b.PL_NCHS2, sample_r_b.PL_UR_CA, sample_r_b.HOSPBRTH, sample_r_b.DNR, sample_r_b.DIED, sample_r_b.PL_UIC20, sample_r_b.RACE, sample_r_l.DX1, sample_r_b.MEDINCST, sample_r_b.FEMALE, sample_r_l.ASCHED, sample_r_b.NEOMAT ,COUNT(*) FROM sample_r_b JOIN sample_r_l ON sample_r_b.PNUM_R = sample_r_l.PNUM_R WHERE ( NOT sample_r_b.PL_UR_CA = '1'  AND  sample_r_l.MDC BETWEEN 1.0 AND 8.0  AND  sample_r_b.MEDINCST <> '3'  AND  sample_r_l.NDX = 5.0  OR  sample_r_b.PL_CBSA = '2'  OR  sample_r_l.TOTCHG >= 36728.0 ) GROUP BY sample_r_b.HISPANIC, sample_r_b.PL_NCHS2, sample_r_b.PL_UR_CA, sample_r_b.HOSPBRTH, sample_r_b.DNR, sample_r_b.DIED, sample_r_b.PL_UIC20, sample_r_b.RACE, sample_r_l.DX1, sample_r_b.MEDINCST, sample_r_b.FEMALE, sample_r_l.ASCHED, sample_r_b.NEOMAT

Generated Random Aggregate Filter Query - 3
SELECT sample_r_b.RACE, sample_r_b.HISPANIC, sample_r_b.DIED, sample_r_b.PL_UR_CA, sample_r_b.FEMALE, sample_r_b.PL_NCHS2, sample_r_b.PL_RUCA4, sample_r_b.PL_CBSA, sample_r_b.PL_UIC20, sample_r_b.PL_RUCC2 ,COUNT(*) FROM sample_r_b JOIN sample_r_l ON sample_r_b.PNUM_R = sample_r_l.PNUM_R AND ( sample_r_b.HOSPBRTH <> '0'  AND  sample_r_b.MEDINCST = '4'  AND  sample_r_l.NPR <> 3.0  AND  sample_r_l.TOTCHG >= 23774.0  AND  NOT sample_r_b.HISPANIC = '2'  AND  sample_r_b.Homeless <> '0'  AND  sample_r_l.Date >= 9.0  AND  sample_r_l.PROCTYPE > 1.0  AND  sample_r_l.ASCHED LIKE '0'  AND  sample_r_l.LOS BETWEEN 3.0 AND 6.0  AND  sample_r_b.PL_CBSA = '2'  AND  NOT sample_r_b.RACE NOT IN ('3', '2', '3', '3', '1')  AND  NOT sample_r_b.PL_RUCC2 LIKE '1'  AND  sample_r_l.HCUP_ED > 4.0  AND  sample_r_l.DX1 NOT LIKE '25002' ) GROUP BY sample_r_b.RACE, sample_r_b.HISPANIC, sample_r_b.DIED, sample_r_b.PL_UR_CA, sample_r_b.FEMALE, sample_r_b.PL_NCHS2, sample_r_b.PL_RUCA4, sample_r_b.PL_CBSA, sample_r_b.PL_UIC20, sample_r_b.PL_RUCC2

Generated Random Aggregate Filter Query - 4
SELECT sample_r_b.PL_CBSA, sample_r_b.PL_NCHS2, sample_r_b.PL_RUCA4, sample_r_b.HISPANIC, sample_r_l.ASCHED, sample_r_b.NEOMAT ,COUNT(*) FROM sample_r_b JOIN sample_r_l ON sample_r_b.PNUM_R = sample_r_l.PNUM_R AND ( sample_r_l.PROCTYPE BETWEEN 1.0 AND 1.0  AND  sample_r_l.DX1 = '56211'  AND  sample_r_b.RACE IN ('1', '3', '1', '1', '1') ) GROUP BY sample_r_b.PL_CBSA, sample_r_b.PL_NCHS2, sample_r_b.PL_RUCA4, sample_r_b.HISPANIC, sample_r_l.ASCHED, sample_r_b.NEOMAT

Generated Random Aggregate Filter Query - 5
SELECT sample_r_b.Homeless, sample_r_l.DX1, sample_r_b.PL_UIC20, sample_r_b.DIED ,COUNT(*) FROM sample_r_b JOIN sample_r_l ON sample_r_b.PNUM_R = sample_r_l.PNUM_R WHERE ( sample_r_b.PL_RUCA4 LIKE '1'  AND  sample_r_l.HCUP_ED <> 4.0  AND  sample_r_l.MDC > 3.0  OR  sample_r_l.AWEEKEND < 1.0  AND  NOT sample_r_b.AGE > 37.0  AND  sample_r_b.DIED NOT IN ('0', '0', '0', '0', '0')  OR  sample_r_l.ASCHED LIKE '0'  AND  sample_r_l.DRGVER <> 24.0  AND  sample_r_l.NDX < 5.0  AND  NOT sample_r_b.PL_RUCC2 <> '1' ) GROUP BY sample_r_b.Homeless, sample_r_l.DX1, sample_r_b.PL_UIC20, sample_r_b.DIED

Generated Random Aggregate Filter Query - 6
SELECT sample_r_b.HOSPBRTH, sample_r_b.PL_CBSA, sample_r_b.PL_UIC20, sample_r_b.DIED, sample_r_b.NEOMAT, sample_r_b.MEDINCST, sample_r_b.FEMALE, sample_r_b.DNR, sample_r_b.HISPANIC, sample_r_b.PL_RUCC2 ,COUNT(*) FROM sample_r_b JOIN sample_r_l ON sample_r_b.PNUM_R = sample_r_l.PNUM_R AND ( NOT sample_r_l.PROCTYPE = 1.0  AND  sample_r_l.MDC = 1.0  AND  sample_r_b.RACE IN ('1', '1', '4', '1', '3')  AND  sample_r_b.DNR IN ('0', '0', '0', '0', '0')  AND  NOT sample_r_l.DX1 <> '73313'  AND  sample_r_l.TOTCHG = 18440.0  AND  NOT sample_r_l.NDX > 8.0  AND  sample_r_b.FEMALE NOT IN ('1', '0', '1', '1', '1')  AND  sample_r_l.AWEEKEND >= 1.0  AND  sample_r_b.Homeless NOT LIKE '0'  AND  sample_r_b.NEOMAT IN ('0', '0', '0', '0', '0')  AND  NOT sample_r_b.AGE <> 79.0  AND  sample_r_b.PL_NCHS2 = '2'  AND  sample_r_l.HCUP_ED <= 4.0  AND  sample_r_l.NPR >= 1.0  AND  NOT sample_r_l.NECODE >= 2.0  AND  sample_r_b.PL_CBSA IN ('2', '2', '2', '2', '2')  OR  sample_r_b.PL_UR_CA IN ('1', '4', '1', '1', '2')  AND  sample_r_l.ASCHED <> '0'  OR  sample_r_b.HISPANIC = '2'  AND  sample_r_l.LOS >= 2.0  AND  sample_r_l.Date < 5.0 ) GROUP BY sample_r_b.HOSPBRTH, sample_r_b.PL_CBSA, sample_r_b.PL_UIC20, sample_r_b.DIED, sample_r_b.NEOMAT, sample_r_b.MEDINCST, sample_r_b.FEMALE, sample_r_b.DNR, sample_r_b.HISPANIC, sample_r_b.PL_RUCC2

Generated Random Aggregate Filter Query - 7

In [7]:
# Reporting

start_html= "<html> \
    <head><title>Random Queries for Longitudinal Data</title></head> \
        <link rel='stylesheet' type='text/css' href='df_style.css'/> \
        <body> \
        <H1>Random Queries for Longitudinal Data</H1>\
    "
end_html="</body></html>"


def make_html_content(query_id, rnd_query):
    assert query_id=='real' or query_id=='syn',("query_id shall be either 'real' or 'syn' ")
    html_string=f"<u>SQL statement - {query_id}:</u><br>"
    html_string+=rnd_query['query_desc'][f'sql_{query_id}']
    html_string+="<br><br>"
    if len(rnd_query[f'query_{query_id}']) !=0:
        html_string+=f"SQL result - {query_id}:<br>"
        html_string+=rnd_query[f'query_{query_id}'].head(5).to_html(classes='mystyle')
        html_string+="Number of returned records: "+str(rnd_query['query_desc'][f'n_rows_{query_id}'])
    else:
        html_string+=f"<H4>No records returned</H4>"
    
    html_string+="<br><br>"
    return html_string


with open('../docs/reports/'+report_dir+'/long_rnd_queries.html', 'w') as f:
    f.write(start_html)
    for s in range(len(many_syn)):
        f.write(f"<H3>======================= REAL VS SYNTHETIC VERSION {str(s+1)} STARTS ======================</H3>")
        for r in range(len(many_syn[s])):
            f.write(make_html_content('real',many_syn[s][r]))
            f.write(make_html_content('syn',many_syn[s][r]))
            f.write("Hellinger Distance = {:.3f}".format(many_syn[s][r]['query_hlngr_score']))
            f.write("<H3>************************************************************************************</H3>")
        if s==len(many_syn):
            break
    f.write(end_html)