### Generate a report for Hellinger Distance between real and synthetic random queries

In [ ]:
from pathlib import Path
import os
import sys 
import pandas as pd
from csv import writer  

sys.path.append('/home/samer/projects/fuzzy_sql/src') #This will enable reading the modules
from fuzzy_sql.fuzzy_sql import *

In [7]:
#set paths
root_dir=Path('/home/samer/projects/fuzzy_sql')
real_dir=os.path.join(root_dir,'data/tabular/real')
meta_dir=os.path.join(root_dir,'data/tabular/metadata')
syn_dir=os.path.join(root_dir,'data/tabular/synthetic')

In [8]:
#extract real data names and define paths
ds_names=extract_fnames(real_dir)
# drop trail 5 since there is no synth data for it
ds_names.remove('trial5')
ds_names.remove('oncovid_dtd')
ds_names.remove('trial3')
ds_names.remove('trial6')
#ds_names.remove('danish') #takes time
ds_names.remove('cchs') #takes time

real_path=[]
meta_path=[]
syn_path=[]
for ds_name in ds_names:
    real_path.append(real_dir+f'/{ds_name}.csv')
    meta_path.append(meta_dir+f'/{ds_name}.json')
    syn_path.append(syn_dir+f'/{ds_name}_syn_06.csv')

Extracted the names of 41 real datasets

In [9]:
# Fuzz
res={'name':[], 'hlngr_mean':[], 'hlngr_median':[], 'hlngr_std_dev':[], 'ecldn_mean':[], 'ecldn_median':[], 'ecldn_std_dev':[] }
queries=[]

for i,ds_name in enumerate(ds_names):
    # if ds_name !='C25':
    #     continue
    scored_queries=fuzz_tabular(3,'twin_aggfltr', real_path[i], meta_path[i],syn_path[i])
    queries.append(scored_queries)
    res['name'].append(ds_name)
    hlngr_stats=calc_stats(scored_queries['hlngr_dist'])
    res['hlngr_mean'].append(hlngr_stats['mean'])
    res['hlngr_median'].append(hlngr_stats['median'])
    res['hlngr_std_dev'].append(hlngr_stats['stddev'])
    ecldn_stats=calc_stats(scored_queries['ecldn_dist'])
    res['ecldn_mean'].append(ecldn_stats['mean'])
    res['ecldn_median'].append(ecldn_stats['median'])
    res['ecldn_std_dev'].append(ecldn_stats['stddev'])

res_df=pd.DataFrame(res)
res_df.to_csv('results.csv', index=False)

Table C20 is created in the database
Table C20_syn_06 is created in the database
Generated Conditioned Aggregate Query 0
Generated Conditioned Aggregate Query 1
Generated Conditioned Aggregate Query 2
Table C4 is created in the database
Table C4_syn_06 is created in the database
Generated Conditioned Aggregate Query 0
Generated Conditioned Aggregate Query 1
Generated Conditioned Aggregate Query 2
Table C26 is created in the database
Table C26_syn_06 is created in the database
Generated Conditioned Aggregate Query 0
Generated Conditioned Aggregate Query 1
Generated Conditioned Aggregate Query 2
Table C21 is created in the database
Table C21_syn_06 is created in the database
Generated Conditioned Aggregate Query 0
Generated Conditioned Aggregate Query 1
Generated Conditioned Aggregate Query 2
Table C24 is created in the database
Table C24_syn_06 is created in the database
Generated Conditioned Aggregate Query 0
Generated Conditioned Aggregate Query 1
Generated Conditioned Aggregate Query 2
Table C17 is created in the database
Table C17_syn_06 is created in the database
Generated Conditioned Aggregate Query 0
Generated Conditioned Aggregate Query 1
Generated Conditioned Aggregate Query 2
Table C25 already exists in the database
Table C25_syn_06 already exists in the database
Generated Conditioned Aggregate Query 0
Generated Conditioned Aggregate Query 1
Generated Conditioned Aggregate Query 2
Table C9 is created in the database
Table C9_syn_06 is created in the database
Generated Conditioned Aggregate Query 0
Generated Conditioned Aggregate Query 1
Generated Conditioned Aggregate Query 2
Table n0147 is created in the database
Table n0147_syn_06 is created in the database
Generated Conditioned Aggregate Query 0
Generated Conditioned Aggregate Query 1
Generated Conditioned Aggregate Query 2
Table C15 is created in the database
Table C15_syn_06 is created in the database
Generated Conditioned Aggregate Query 0
Generated Conditioned Aggregate Query 1
Generated Conditioned Aggregate Query 2
Table C8 is created in the database
Table C8_syn_06 is created in the database
Generated Conditioned Aggregate Query 0
Generated Conditioned Aggregate Query 1
Generated Conditioned Aggregate Query 2
Table trial1 is created in the database
Table trial1_syn_06 is created in the database
Generated Conditioned Aggregate Query 0
Generated Conditioned Aggregate Query 1
Generated Conditioned Aggregate Query 2
Table C7 is created in the database
Table C7_syn_06 is created in the database
Generated Conditioned Aggregate Query 0
Generated Conditioned Aggregate Query 1
Generated Conditioned Aggregate Query 2
Table n0147DFS is created in the database
Table n0147DFS_syn_06 is created in the database
Generated Conditioned Aggregate Query 0
Generated Conditioned Aggregate Query 1
Generated Conditioned Aggregate Query 2
Table C18 is created in the database
Table C18_syn_06 is created in the database
Generated Conditioned Aggregate Query 0
Generated Conditioned Aggregate Query 1
Generated Conditioned Aggregate Query 2
Table C23 is created in the database
Table C23_syn_06 is created in the database
Generated Conditioned Aggregate Query 0
Generated Conditioned Aggregate Query 1
Generated Conditioned Aggregate Query 2
Table trial2 is created in the database
Table trial2_syn_06 is created in the database
Generated Conditioned Aggregate Query 0
Generated Conditioned Aggregate Query 1
Generated Conditioned Aggregate Query 2
Table C2 is created in the database
Table C2_syn_06 is created in the database
Generated Conditioned Aggregate Query 0
Generated Conditioned Aggregate Query 1
Generated Conditioned Aggregate Query 2
Table n0147OS is created in the database
Table n0147OS_syn_06 is created in the database
Generated Conditioned Aggregate Query 0
Generated Conditioned Aggregate Query 1
Generated Conditioned Aggregate Query 2
Table C14 is created in the database
Table C14_syn_06 is created in the database
Generated Conditioned Aggregate Query 0
Generated Conditioned Aggregate Query 1
Generated Conditioned Aggregate Query 2
Table C13 is created in the database
Table C13_syn_06 is created in the database
Generated Conditioned Aggregate Query 0
Generated Conditioned Aggregate Query 1
Generated Conditioned Aggregate Query 2
Table C6 is created in the database
Table C6_syn_06 is created in the database
Generated Conditioned Aggregate Query 0
Generated Conditioned Aggregate Query 1
Generated Conditioned Aggregate Query 2
Table C22 is created in the database
Table C22_syn_06 is created in the database
Generated Conditioned Aggregate Query 0
Generated Conditioned Aggregate Query 1
Generated Conditioned Aggregate Query 2
Table C10 is created in the database
Table C10_syn_06 is created in the database
Generated Conditioned Aggregate Query 0
Generated Conditioned Aggregate Query 1
Generated Conditioned Aggregate Query 2
Table C1 is created in the database
Table C1_syn_06 is created in the database
Generated Conditioned Aggregate Query 0
Generated Conditioned Aggregate Query 1
Generated Conditioned Aggregate Query 2
Table dad is created in the database
Table dad_syn_06 is created in the database
Generated Conditioned Aggregate Query 0
Generated Conditioned Aggregate Query 1
Generated Conditioned Aggregate Query 2
Table C19 is created in the database
Table C19_syn_06 is created in the database
Generated Conditioned Aggregate Query 0
Generated Conditioned Aggregate Query 1
Generated Conditioned Aggregate Query 2
Table danish is created in the database
Table danish_syn_06 is created in the database
Generated Conditioned Aggregate Query 0
Generated Conditioned Aggregate Query 1
Generated Conditioned Aggregate Query 2
Table C5 is created in the database
Table C5_syn_06 is created in the database
Generated Conditioned Aggregate Query 0
Generated Conditioned Aggregate Query 1
Generated Conditioned Aggregate Query 2
Table C27 is created in the database
Table C27_syn_06 is created in the database
Generated Conditioned Aggregate Query 0
Generated Conditioned Aggregate Query 1
Generated Conditioned Aggregate Query 2
Table C16 is created in the database
Table C16_syn_06 is created in the database
Generated Conditioned Aggregate Query 0
Generated Conditioned Aggregate Query 1
Generated Conditioned Aggregate Query 2
Table C12 is created in the database
Table C12_syn_06 is created in the database
Generated Conditioned Aggregate Query 0
Generated Conditioned Aggregate Query 1
Generated Conditioned Aggregate Query 2
Table C3 is created in the database
Table C3_syn_06 is created in the database
Generated Conditioned Aggregate Query 0
Generated Conditioned Aggregate Query 1
Generated Conditioned Aggregate Query 2
Table trial4 is created in the database
Table trial4_syn_06 is created in the database
Generated Conditioned Aggregate Query 0
Generated Conditioned Aggregate Query 1
Generated Conditioned Aggregate Query 2
Table C11 is created in the database
Table C11_syn_06 is created in the database
Generated Conditioned Aggregate Query 0
Generated Conditioned Aggregate Query 1
Generated Conditioned Aggregate Query 2
Table C28 is created in the database
Table C28_syn_06 is created in the database
Generated Conditioned Aggregate Query 0
Generated Conditioned Aggregate Query 1
Generated Conditioned Aggregate Query 2