In [1]:
import sys
sys.path.append('/home/samer/projects/fuzzy_sql/src')

from fuzzy_sql.fuzzy_sql import *
import json
import os
from pathlib import Path

In [2]:
# set directories
root_dir = Path('/home/samer/projects/fuzzy_sql')
metadata_dir = os.path.join(root_dir, 'data/cal/processed/metadata')
real_dir = os.path.join(root_dir, 'data/cal/processed/real')
syn_dir = os.path.join(root_dir, 'data/cal/processed/synthetic')
db_path = os.path.join(root_dir, 'db/cal.db')

In [3]:
# connect to db
conn = sqlite3.connect(db_path)

In [4]:
# define input tables and metadata
real_tbl_lst = ["b_sample","l_sample"]
syn_tbl_lst = ["b_sample_syn_01","l_sample_syn_01"]
metadata_lst = []
for tbl_name in real_tbl_lst:
    with open(os.path.join(metadata_dir, tbl_name+'.json'), 'r') as f:
        metadata_lst.append(json.load(f))

In [5]:
# connect to db
conn = sqlite3.connect(db_path)

In [6]:
rnd_queries=gen_queries(3,conn, real_tbl_lst, metadata_lst,  syn_tbl_lst )

Generated Random Aggregate Filter Query - 1
Generated Random Aggregate Filter Query - 2
Cant wait any further! I am skipping this one!
Generated Random Aggregate Filter Query - 3

In [8]:
rnd_queries[0]['query_real']

,b_sample.MEDINCST,b_sample.HOSPBRTH,b_sample.FEMALE,b_sample.DNR,b_sample.Homeless,b_sample.RACE,b_sample.NEOMAT,COUNT(*),AVG(l_sample.LOS)
0,1,0,0,0,0,1,0,47944,5.776823
1,1,0,0,0,0,1,2,6,2.666667
2,1,0,0,0,0,2,0,19370,6.203459
3,1,0,0,0,0,2,2,5,49.400000
4,1,0,0,0,0,3,0,30829,6.076616
...,...,...,...,...,...,...,...,...,...
133,None,0,1,0,0,6,0,23,9.478261
134,None,0,1,0,0,None,0,92,6.619565
135,None,0,1,0,0,None,1,10,2.400000
136,None,0,None,0,0,None,0,125,6.144000
137,None,0,None,0,0,None,1,14,5.071429