In [109]:
import sys
sys.path.append('/home/samer/projects/fuzzy_sql/src') #This will enable reading the modules
from pathlib import Path
import os
import json

from fuzzy_sql.fuzzy_sql import *

In [110]:
#set directories
root_dir=Path('/home/samer/projects/fuzzy_sql')
metadata_dir=os.path.join(root_dir,'data/sdgd/processed/metadata')
db_path=os.path.join(root_dir,'db/sdgd.db')

In [111]:
#define input tables and metadata

tbl_names_lst=["C2"]

metadata_lst=[]
for tbl_name in tbl_names_lst:
    with open(os.path.join(metadata_dir,tbl_name+'.json'),'r') as f:
        metadata_lst.append(json.load(f))

In [112]:
#connect to db
conn = sqlite3.connect(db_path)
self=RND_QRY(conn, tbl_names_lst, metadata_lst)

# Generate Random  queries

In [113]:
#Single Aggregate
single_expr,groupby_lst,from_tbl, join_tbl_lst, agg_fntn_terms=self.compile_agg_expr() 
rnd_query=self.make_single_agg_query(single_expr,groupby_lst,from_tbl, join_tbl_lst, agg_fntn_terms)


n_rows=rnd_query['query_desc']['n_rows']
n_cols=rnd_query['query_desc']['n_cols']

print(f"no_of_rows={n_rows}\nno_of_cols={n_cols}\nproduct={n_rows*n_cols/1000}")
print("\n")
print(rnd_query['query_desc']['sql'])

no_of_rows=2
no_of_cols=3
product=0.006


SELECT class, COUNT(*), MIN(var)  FROM C2  GROUP BY class

In [114]:
rnd_query['query_desc']

{'type': 'single_agg',
 'agg_fntn': ('MIN', 'var'),
 'grpby_vars': ['class'],
 'from_tbl_name': 'C2',
 'join_tbl_name_lst': [],
 'sql': 'SELECT class, COUNT(*), MIN(var)  FROM C2  GROUP BY class',
 'n_rows': 2,
 'n_cols': 3}

In [115]:
# Twin Aggregate 

syn_tbl_name_lst=['C2_syn_default_1']
real_expr,real_groupby_lst,real_from_tbl, real_join_tbl_lst,agg_fntn_terms=self.compile_agg_expr()
rnd_query=self.make_twin_agg_query(syn_tbl_name_lst,real_expr,real_groupby_lst,real_from_tbl, real_join_tbl_lst,agg_fntn_terms)

n_rows_real=rnd_query['query_desc']['n_rows_real']
n_cols_real=rnd_query['query_desc']['n_cols_real']
n_rows_syn=rnd_query['query_desc']['n_rows_syn']
n_cols_syn=rnd_query['query_desc']['n_cols_syn']

print(rnd_query['query_desc']['sql_real'])
print(f"REAL:\nno_of_rows={n_rows_real}\nno_of_cols={n_cols_real}\nproduct={n_rows_real*n_cols_real/1000}\n\n")

print(rnd_query['query_desc']['sql_syn'])
print(f"SYN:\nno_of_rows={n_rows_syn}\nno_of_cols={n_cols_syn}\nproduct={n_rows_syn*n_cols_syn/1000}\n\n")

SELECT class, COUNT(*), SUM(curtosis)  FROM C2  GROUP BY class
REAL:
no_of_rows=2
no_of_cols=3
product=0.006


SELECT class, COUNT(*), SUM(curtosis)  FROM C2_syn_default_1  GROUP BY class
SYN:
no_of_rows=2
no_of_cols=3
product=0.006

In [116]:
rnd_query['query_desc']

{'type': 'twin_agg',
 'agg_fntn': ('SUM', 'curtosis'),
 'grpby_vars': ['class'],
 'from_tbl_name_real': 'C2',
 'join_tbl_name_lst_real': [],
 'sql_real': 'SELECT class, COUNT(*), SUM(curtosis)  FROM C2  GROUP BY class',
 'n_cols_real': 3,
 'n_rows_real': 2,
 'from_tbl_name_syn': 'C2_syn_default_1',
 'join_tbl_name_lst_syn': [],
 'sql_syn': 'SELECT class, COUNT(*), SUM(curtosis)  FROM C2_syn_default_1  GROUP BY class',
 'n_cols_syn': 3,
 'n_rows_syn': 2}

In [117]:
#Single Filter

# self.no_groupby_vars=2
# self.no_where_vars=2
# self.max_in_terms=2

single_expr,from_tbl, join_tbl_lst =self.compile_fltr_expr()
rnd_query=self.make_single_fltr_query(single_expr,from_tbl, join_tbl_lst)


n_rows=rnd_query['query_desc']['n_rows']
n_cols=rnd_query['query_desc']['n_cols']

print(f"no_of_rows={n_rows}\nno_of_cols={n_cols}\nproduct={n_rows*n_cols/1000}")
print("\n")
print(rnd_query['query_desc']['sql'])

no_of_rows=0
no_of_cols=5
product=0.0


SELECT *  FROM C2  WHERE   curtosis < 0.61663 AND  class NOT IN ('0', '1') OR  var = 1.0194 AND  entropy BETWEEN 0.38317 AND 1.106 AND  skew < -0.033118

In [118]:
rnd_query['query_desc']

{'type': 'single_fltr',
 'from_tbl_name': 'C2',
 'join_tbl_name_lst': [],
 'sql': "SELECT *  FROM C2  WHERE   curtosis < 0.61663 AND  class NOT IN ('0', '1') OR  var = 1.0194 AND  entropy BETWEEN 0.38317 AND 1.106 AND  skew < -0.033118 ",
 'n_rows': 0,
 'n_cols': 5}

In [119]:
# Twin Filter 


syn_tbl_name_lst=['C2_syn_default_1']
real_expr,real_from_tbl, real_join_tbl_lst =self.compile_fltr_expr()
rnd_query=self.make_twin_fltr_query(syn_tbl_name_lst,real_expr,real_from_tbl, real_join_tbl_lst)

n_rows_real=rnd_query['query_desc']['n_rows_real']
n_cols_real=rnd_query['query_desc']['n_cols_real']
n_rows_syn=rnd_query['query_desc']['n_rows_syn']
n_cols_syn=rnd_query['query_desc']['n_cols_syn']

print(f"REAL:\nno_of_rows={n_rows_real}\nno_of_cols={n_cols_real}\nproduct={n_rows_real*n_cols_real/1000}\n\n")
print(f"SYN:\nno_of_rows={n_rows_syn}\nno_of_cols={n_cols_syn}\nproduct={n_rows_syn*n_cols_syn/1000}\n\n")
print(rnd_query['query_desc']['sql_real'])
print("\n")
print(rnd_query['query_desc']['sql_syn'])

REAL:
no_of_rows=959
no_of_cols=5
product=4.795


SYN:
no_of_rows=805
no_of_cols=5
product=4.025


SELECT *  FROM C2  WHERE   skew NOT BETWEEN -6.6383 AND 2.2948


SELECT *  FROM C2_syn_default_1  WHERE   skew NOT BETWEEN -6.6383 AND 2.2948

In [120]:
rnd_query['query_desc']

{'type': 'twin_fltr',
 'from_tbl_name_real': 'C2',
 'join_tbl_name_lst_real': [],
 'sql_real': 'SELECT *  FROM C2  WHERE   skew NOT BETWEEN -6.6383 AND 2.2948 ',
 'n_cols_real': 5,
 'n_rows_real': 959,
 'from_tbl_name_syn': 'C2_syn_default_1',
 'join_tbl_name_lst_syn': [],
 'sql_syn': 'SELECT *  FROM C2_syn_default_1  WHERE   skew NOT BETWEEN -6.6383 AND 2.2948 ',
 'n_cols_syn': 5,
 'n_rows_syn': 805}

In [121]:
#Single Aggregate-Filter

single_expr,groupby_lst,from_tbl, join_tbl_lst, agg_fntn_terms=self.compile_aggfltr_expr()
rnd_query=self.make_single_aggfltr_query(single_expr,groupby_lst,from_tbl, join_tbl_lst, agg_fntn_terms)


n_rows=rnd_query['query_desc']['n_rows']
n_cols=rnd_query['query_desc']['n_cols']

print(f"no_of_rows={n_rows}\nno_of_cols={n_cols}\nproduct={n_rows*n_cols/1000}")
print("\n")
print(rnd_query['query_desc']['sql'])

no_of_rows=1
no_of_cols=3
product=0.003


SELECT class, COUNT(*), AVG(var)  FROM C2  WHERE   entropy < -0.61768 AND  var > -0.11716 AND  class NOT IN ('0') AND  curtosis > -4.4044  GROUP BY class

In [122]:
# Twin Aggregate-Filter 

syn_tbl_name_lst=['C2_syn_default_1']
real_expr,real_groupby_lst,real_from_tbl, real_join_tbl_lst, agg_fntn_terms=self.compile_aggfltr_expr()
rnd_query=self.make_twin_aggfltr_query(syn_tbl_name_lst,real_expr,real_groupby_lst,real_from_tbl, real_join_tbl_lst, agg_fntn_terms)

n_rows_real=rnd_query['query_desc']['n_rows_real']
n_cols_real=rnd_query['query_desc']['n_cols_real']
n_rows_syn=rnd_query['query_desc']['n_rows_syn']
n_cols_syn=rnd_query['query_desc']['n_cols_syn']

print(rnd_query['query_desc']['sql_real'])
print(f"REAL:\nno_of_rows={n_rows_real}\nno_of_cols={n_cols_real}\nproduct={n_rows_real*n_cols_real/1000}\n\n")

print(rnd_query['query_desc']['sql_syn'])
print(f"SYN:\nno_of_rows={n_rows_syn}\nno_of_cols={n_cols_syn}\nproduct={n_rows_syn*n_cols_syn/1000}\n\n")

SELECT class, COUNT(*), AVG(curtosis)  FROM C2  WHERE   skew <= -0.091058 AND  class <> '0' OR  entropy NOT BETWEEN 1.2017 AND 1.9375  GROUP BY class
REAL:
no_of_rows=2
no_of_cols=3
product=0.006


SELECT class, COUNT(*), AVG(curtosis)  FROM C2_syn_default_1  WHERE   skew <= -0.091058 AND  class <> '0' OR  entropy NOT BETWEEN 1.2017 AND 1.9375  GROUP BY class
SYN:
no_of_rows=2
no_of_cols=3
product=0.006

In [123]:
matched_query=self._match_twin_query(rnd_query)
scored_query=self.calc_dist_scores(matched_query)

In [124]:
scored_query['query_desc']

{'type': 'twin_agg',
 'agg_fntn': ('AVG', 'curtosis'),
 'grpby_vars': ['class'],
 'from_tbl_name_real': 'C2',
 'join_tbl_name_lst_real': [],
 'sql_real': "SELECT class, COUNT(*), AVG(curtosis)  FROM C2  WHERE   skew <= -0.091058 AND  class <> '0' OR  entropy NOT BETWEEN 1.2017 AND 1.9375  GROUP BY class",
 'n_cols_real': 3,
 'n_rows_real': 2,
 'from_tbl_name_syn': 'C2_syn_default_1',
 'join_tbl_name_lst_syn': [],
 'sql_syn': "SELECT class, COUNT(*), AVG(curtosis)  FROM C2_syn_default_1  WHERE   skew <= -0.091058 AND  class <> '0' OR  entropy NOT BETWEEN 1.2017 AND 1.9375  GROUP BY class",
 'n_cols_syn': 3,
 'n_rows_syn': 2}

In [125]:
scored_query['query_hlngr_score']

0.00200028179177838

In [126]:
scored_query['query_ecldn_score']

0.7071067811865476